/* Icons
================================================== */
	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot');
		src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
			url('../fonts/icomoon.woff') format('woff'),
			url('../fonts/icomoon.ttf') format('truetype'),
			url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[data-icon]:before {
		font-family: 'icomoon';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	
	.icon-facebook, .icon-twitter, .icon-github, .icon-arrow-right, .icon-checkmark {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	.icon-facebook:before {
		content: "\e000";
	}
	.icon-twitter:before {
		content: "\e001";
	}
	.icon-github:before {
		content: "\e002";
	}
	.icon-arrow-right:before {
		content: "\e003";
	}
	.icon-checkmark:before {
		content: "\e004";
	}

/* Social Colours
================================================== */

  .fb { background: #; }
  .tw { background: #; }
  .gp { background: #; }
  .sk { background: #; }
  .pi { background: #; }
  .gt { background: #; }