/*
	Stylesheet for http://www.bivee.co
	----------------------------------------------------------
	Designed & developed by Nicholas A. Kingston, Scott M. Schaffter
	
	Version 1.0
	
-------------------------------------------------------------------------------*/

@colour1: #00aae5;
@colour2: #fdb813;
@colour3: #e31d38;

@grey:  #89949B;
@white: #ffffff;
@offwhite: darken(@white, 5%);
@black: #333333;

@maxwidth: 1200px;

@import "_mixins.less";
@import "_reset.less";
@import "_typography.less";
@import "_svg.less";
@import "_site.less";
@import "_slider.less";
@import "_grid.less";
@import "_responsive.less";
@import "_form.less";
@import "_fonts.less";
@import "_js.less";