/* SVG
================================================== */

  .logo svg path {
    &.letters, &.outline {
      fill: @white !important;
    }
  }
  .flask svg {
    @color: @colour3;
    width: 70px;
    height: 70px;
    
    path {
      &.liquid {
        fill: @color !important;
      }
      &.bubbles {
        fill: lighten(@color, 10%) !important;
      }
      &.outline {
        fill: #E5E5E5;
      }
    }
    &:hover path {
      &.liquid {
        fill: darken(@color, 5%) !important;
      }
      &.bubbles {
        fill: darken(@color, 0%) !important;
      }
    }
  }