/* =============================================================================
//  Main Header component
// ========================================================================== */

/*doc
---
title: Main Header
name: main_header
category: Molecules
---

*/

// @import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.main_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
}
