---
layout: default
title: About
permalink: /about/
---

<div class="about">
<h2>About Us</h2>
<p>Bivee is a group of web developers that specializes in providing and creating accessible, customized web applications that improve how people interact online. </p>

<p>
The Bivee team has developed an approach to web development that makes interaction simpler, more direct and clearly addresses business needs and outcomes.</p>

<p> We have worked with large international organizations and small-medium business to help tackle complex problems.  </p>
</div>

        {% if site.categories.team %}
         <div class="team">
          <h2>Our Team</h2>
          <hr>{% for post in site.categories.team %}
          <div class="bios">		
            <a href="{{ post.url }}" title="{{ post.name }}, {{ post.job-title }}">
              <div class="picture" data-title="{{ post.nickname }}"><img src="{{ post.image }}" /></div>
              <h4 class="textcolor1">{{ post.name }}</h4>
              <h5 class="textgrey">{{ post.job-title }}</h5>
            </a>	
          </div>{% endfor %}
        </div>{% endif %}