---
layout: default
title: Portfolio
permalink: /portfolio/
summary: This is the page summary introducing our dynamic team.
---
        <p>{{ page.summary }}</p>
        
{% if site.categories.web %}
        <div class="projects">
          <h2>Web Projects</h2>
          <hr>
{% for post in site.categories.web %}
          <div class="case">		
          	<a href="{{ post.url }}" title="{{ post.name }}, {{ post.job-title }}">
          	  <div class="picture">
          	    <img src="{{ post.image }}" />
          	  </div>
            	<h4 class="textcolor1">{{ post.name }}</h2>
              <h5 class="textgrey">{{ post.job-title }}</h3>
          	</a>	
          </div>
{% endfor %}
        </div>
{% endif %}