@import "bourbon/app/assets/stylesheets/bourbon";
@import "SassyLists/dist/SassyLists";
@import "modernizr-mixin/stylesheets/modernizr";

img {
    max-width: 100%;
}

nav > ul { padding-left: 0; }

.l-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 26px;
}

.l-inline { display: inline-block !important; }

.has-border {
    &--top {
        border-top: 1px solid #ccc;
        padding-top: 1em;
    }
    &--bottom {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1em;
    }
}

.l-has-padding {
    &--top { padding-top: 1em; }
    &--bottom { padding-bottom: 1em; }
}

.l-has-margin {
    &--top { margin-top: 1em; }
    &--bottom { margin-bottom: 1em; }
}

.l-list--undecorated {
    padding-left: 0;
    list-style: none;
}

.l-list--inline {
    @extend .l-list--undecorated;

    li, dt, dd {
        display: inline-block;
        margin-right: 1em;

        &:last-child { margin-right: 0; }
    }
}

%field {
    display: block;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
}

.object { @extend %field; }

.field { @extend %field; }

.reference {
    @extend %field;
    background-color: #D2ECF2;
}

.metadata {
    @extend %field;
    background-color: #F2D2D2;
}
