//
// Styles for Bivee website
// https://github.com/biveeco/biveeco.github.io
//

////////////////////////////////////////////////////////////////////////////////
// Vendor CSS and overrides
// -> for external libs that output css and thier overrides
////////////////////////////////////////////////////////////////////////////////

@import 'normalize.css/normalize';

////////////////////////////////////////////////////////////////////////////////
// Base styles
// -> global element styles: lists, text, images, etc.
////////////////////////////////////////////////////////////////////////////////

@import 'base/form';
@import 'base/html';
@import 'base/list';
@import 'base/media';
@import 'base/type';

////////////////////////////////////////////////////////////////////////////////
// Utility classes
// -> global element styles: lists, text, images, etc.
////////////////////////////////////////////////////////////////////////////////

@import 'utilities/borders';
@import 'utilities/color';
@import 'utilities/positioning';
@import 'utilities/spacing';
@import 'utilities/special_effects';
@import 'utilities/visibility';

////////////////////////////////////////////////////////////////////////////////
// Component styles
// -> self-contained, namespaced, opinionated UI elements
////////////////////////////////////////////////////////////////////////////////

@import 'components/bookend';
@import 'components/button';
@import 'components/cover';
@import 'components/fluid_aspect_ratio';
@import 'components/gallery';
@import 'components/gutter';
@import 'components/icon';
@import 'components/main_header';
@import 'components/wrapper';
