<%
    # Blurb component
    # - A header and intro paragraph
    # - NOTE: should only be used once inside a sectioning element (ie header, section, article, aside), as it contains an h1

    # Locals:
    width ||= 'narrow' # STRING: how wide the wrapper should be, e.g. 'wide' or 'default'
    heading ||= false # STRING: header
    heading_size ||= 'alpha' # STRING: how big/prominent the header is, e.g. 'alpha', 'beta', etc.
    text_size ||= 'epsilon'
%>

<section>
  <% if heading %>
    <h1 class="t-scale-<%= heading_size %> t-align-center padding-bottom-narrow"><%= heading %></h1>
  <% end %>
  <% component 'wrapper', locals: { width: width, classes: "t-content t-scale-#{text_size}" } do %>
    <%= yield %>
  <% end %>
</section>
