<%#
    Blurb component
    - A header and intro paragraph
    - NOTE: should only be used once inside a sectioning element (ie header, section, article, aside), as it contains an h1

    Locals:
    - STRING heading (optional): header
    - STRING heading_level (optional): how big/prominent the header is, e.g. "alpha", "beta", etc.
    - STRING width (optional): how wide the wrapper should be, e.g. "wide" or "default"

    Styles:
    - layout/wrapper
    - base/type
%>

<% width ||= "default" %>
<% heading ||= false %>
<% heading_level ||= "alpha" %>

<div class="l-wrapper<%= " l-wrapper--#{width}" if width != "default" %>">
    <% if heading %>
        <h1 class="heading t-<%= heading_level %> t-centered"><%= heading %></h1>
    <% end %>
    <p class="t-intro">
        <%= yield %>
    </p>
</div>
