<%
  # Staff list
  # -> A grid of staff listings

  # Locals:
  # ARRAY projects: the projects to display
  classes ||= false # STRING (optional): additional modifier classes, if needed
  exclude ||= false # STRING (optional): the slug of the project you don't want to show
    # -> useful for local navs where you don't want to show the current project
%>

<ul data-ui-gallery="large centered" <%= " class='#{classes}'" if classes %>>
  <% projects.each do |project| %>
    <% unless project.slug == exclude || project.title == exclude %>
      <li data-ui-gallery-item>
        <% link_to "work/#{project.slug.urlize}/", class: 'display-block border border-round c-bg' do %>
          <%= component 'fluid_aspect_image', locals: {
            source: project.cover.thumb,
            bg_size: 'cover',
            alt: project.title
          } %>
          <div class="padding-narrow border-top">
            <h2 class="t-scale-delta"><%= project.title %></h2>
            <p class="t-heading t-scale-zeta padding-top-xxnarrow c-text-secondary"><%= project.client.name %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
