<%
  # Cover component
  # - A 'hero' with a full-bleed image and headline

  # Locals:
  bg_image ||= false # STRING: image for the background
  theme ||= "wash" # STRING: color theme
%>

<div data-ui-cover class="c-theme-<%= theme %>"<%= " style='background-image: url(#{bg_image});'" if bg_image %>>
  <div data-ui-cover-content data-ui-wrapper="wide" class="t-align-center">
    <%= yield %>
  </div>
</div>
