<%
  # Cover component
  # - A 'hero' with a full-bleed image and headline

  # Locals:
  headline ||= false # STRING: a headline, if you'd like one
  # bg_image ||= false # STRING: image for the background
  theme ||= 'default' # STRING: color theme
  classes ||= false # STRING: additional utilitiy classes you'd like to pass in
  padding ||= { x: 'outside', y: 'xxwide' } # STRING/HASH: outside padding - see padding_classes in config.rb
  borders ||= false # STRING/ARRAY: borders - see border_classes in config.rb
  content_position ||= 'default'

  # Private
  utils = [
    "c-theme-#{theme}",
    (classes if classes)
  ]

  content_props = [
    ('top-heavy' unless content_position == 'default')
  ]
%>

<div data-ui-cover<%= class_list(utils) %>>
  <div data-ui-cover-content<%= props_list(content_props) %> class="<%= padding_classes(padding) %>"><%= yield %></div>
</div>
