<%
  # Feature image
	# -> An image occuring within a panel of text

  # Locals:
  # STRING/HASH source: the path or url of the image file
  sizes ||= [] # Array of numbers (optional): size variations of the source image
  alt ||= '' # STRING (optional): alt tag
  screenshot ||= false # BOOLEAN: is it a screenshot?
  width ||= 'wide' # STRING (optional): how wide the image should be
  padding ||= { y: 'wide' } # STRING/HASH (optional): padding classes
  borders ||= false # BOOLEAN (optional): add a border to the image
  classes ||= false # STRING (optional): additional utility classes

  # Private:
  props = [
    (width unless width == 'default'),
    'outcrop'
  ]

  utils = [
    padding_classes(padding),
    't-align-center',
    (classes if classes)
  ]
%>

<div data-ui-wrapper<%= props_list(props) %><%= class_list(utils) %>>
  <% unless screenshot %>
    <%= component 'responsive_image', locals: {
      source: source,
      sizes: sizes,
      alt: alt,
      borders: borders
    } %>
  <% else %>
    <%= component 'screenshot', locals: {
      source: source,
      sizes: sizes,
      alt: alt
    } %>
  <% end %>
</div>
