<%
  # Feature image
	# -> An image occuring within a panel of text

  # Locals:
  # STRING source: the path or url of the image file
  alt ||= "" # STRING (optional): alt tag
  padding ||= { y: 'wide' } # STRING/HASH (optional): padding classes
  borders ||= false # BOOLEAN (optional): add a border to the image

  # Private:
  utils = [
    padding_classes(padding),
    't-align-center'
  ]
%>

<div data-ui-wrapper="wide outcrop"<%= class_list(utils) %>>
  <%= image_tag source, class: ('border' if borders), alt: alt %>
</div>
