<%#
  Gallery component
  - An even grid of images

  Styles:
  - components/gallery
%>

<% classes ||= "" %>

<ul class="gallery<%= " #{classes}" if classes %>">
        <li class="gallery-item">
            <%= component "feature_image", locals: { source: "http://placehold.it/200x200" } %>
        </li>
</ul>