<%#
  Gallery component
  - An even grid of images

  Styles:
  - components/gallery
%>

<% classes ||= false %>

<ul data-ui-gallery<%= " class='#{classes}'" if classes %>>
  <% images.each do |alt, source| %>
    <li data-ui-gallery-item>
      <%= image_tag source, alt: alt || "" %>
    </li>
  <% end %>
</ul>
