<%
  # Main Header component
  # -> the header appearing at the top of every page

  # Locals:
  overlay ||= false # BOOLEAN (optional): turn on 'overlay' styles for the header
  theme ||= 'dark' # STRING (optional): color theme
  classes ||= false # STRING (optional): any additional classes to pass in

  props = [
    ("overlay" if overlay)
  ]

  utils = [
    'padding-x-wide',
    'padding-y-narrow',
    ("c-theme-#{theme}" unless overlay)
  ]
%>

<header data-ui-main-header<%= props_list(props) %><%= class_list(utils) %> role="banner">
  <div data-ui-bookend="horizontal">

    <!-- logo -->
    <div data-ui-bookend-item="left" class="t-align-center">
      <% link_to '/', class: 'display-inline-block t-decoration-none' do %>
        <%= image_tag "logos/logo-bivee-red-reverse.svg", class: 'display-inline-block', alt: 'Bivee', style: 'max-width: 5em;' %>
      <% end %>
    </div>

    <!-- main menu -->
    <nav data-ui-bookend-item="right">
      <div data-ui-gutter="narrow">
        <div data-ui-gutter-item class="display-inline-block">
          <ul data-ui-main-header-menu class="padding-x-between-narrow">
            <li class="hide-visually show-visually-above@medium">
              <a class="t-scale-eta t-decoration-hover" href="#">What we do</a>
            </li>
            <li class="hide-visually show-visually-above@medium">
              <a class="t-scale-eta t-decoration-hover" href="#">Who we are</a>
            </li>
            <li class="hide-visually show-visually-above@medium">
              <a class="t-scale-eta t-decoration-hover" href="/design_thinking">How we work</a>
            </li>
            <li>
              <a class="t-scale-eta t-decoration-hover c-highlight" href="#">Contact us</a>
            </li>
          </ul>
        </div>
        <div data-ui-gutter-item class="display-inline-block">
          <button data-ui-button="incognito">
            <%= component "icon", locals: { id: "arrow-right", size: "large" } %>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
