<footer class="l-wrapper l-margin--top border--top" role="contentinfo">
    <%= link_to "Bivee", "/", :class => "l-margin--bottom" %>
    <section class="border--bottom l-margin--bottom">
        <h3>Contact us</h3>
        <a href="mailto:admin@bivee.co">admin@bivee.co</a> * 555.555.5555
    </section>
    <small class="l-inline l-margin--bottom">&copy; Copyright <%= Time.now.year %> Bivee, Inc. All rights reserved.</small>
</footer>
