<%
  # Panel component
  # -> For short content in scrolling sections. Meant to be full-width.

  borders ||= [ 'top' ] # STRING/ARRAY: sides you want borders on - see border_classes helper in config.rb
  classes ||= false # STRING: additional modifier classes for the container
  padding ||= { x: 'wide', y: 'xwide' } # STRING/HASH: outside padding - see padding_classes helper in config.rb
  slug ||= false # STRING: a slug header for the top of the panel, e.g. "Recent work"
  theme ||= 'default' # STRING: name of color theme, e.g. "reverse" or "wash"

  class_list = [
    padding_classes(padding),
    border_classes(borders),
    ("c-theme-#{theme}" if theme != 'default'),
    (classes if classes)
  ].join(' ')
%>

<section class="<%= class_list %>">
  <% if slug %>
    <p class="t-heading t-scale-zeta t-align-center"><%= slug %></p>
  <% end %>
  <%= yield %>
</section>
