<% classes ||= "reference" %>

<figure class="<%= classes %>">
    <%= image_tag lorem.image('800x400') %>
    <figcaption>Photo title/description</figcaption>
    <span class="epsilon">by [Person]</span>
    <span class="epsilon">Amazon</span>
    <time class="epsilon">December 1, 2015</time>
    <ul class="l-list-inline">
        <li>sloths</li>
        <li>forest</li>
        <li>travels</li>
    </ul>
</figure>
