<%
  # Staff Portrait component
  # - A scaled photo of a team member

  # Locals:
  # image - STRING: the photo to display
  classes ||= false # STRING: additional modifier classes, if needed
%>

<div class="l-centered-block" style="max-width: 424px;">
	<div data-ui-aspect="1-2" class="-margin-bottom-narrow border-round<%= " #{classes}" if classes %>">
    <span data-ui-aspect-content class="c-well" style="background-image: url('/assets/images/portraits/<%= image %>');"></span>
	</div>
</div>
