<%
  # Staff list
  # -> A grid of staff listings

  # Locals:
  # staff - ARRAY: the staff to display
  classes ||= false # STRING: additional modifier classes, if needed
%>

<ul data-ui-gallery="small default@small large@medium"<%= class_list(classes) if classes %>>
  <% staff.each do |profile| %>
    <li data-ui-gallery-item>
      <% link_to profile.url, class: 'display-flex-fill display-block t-align-center t-decoration-none' do %>
        <div class="border-markers-corners">
          <%= component 'fluid_aspect_image', locals: {
            source: "assets/images/portraits/#{profile.data.portrait.thumb}",
            bg_size: 'cover',
            alt: profile.data.name,
            classes: 'border border-thick c-border-island'
          } %>
        </div>
        <h3 class="t-scale-delta padding-bottom-xxnarrow padding-top-xnarrow"><%= profile.data.name %></h3>
        <p class="t-heading t-scale-eta c-highlight"><%= profile.data.job_title %></p>
      <% end %>
    </li>
  <% end %>
</ul>
