<%
  # Staff list
  # -> A grid of staff listings

  # Locals:
  # staff - ARRAY: the staff to display
  classes ||= false # STRING: additional modifier classes, if needed
%>

<ul data-ui-gallery <%= " class='#{classes}'" if classes %>>
  <% staff.each do |profile| %>
    <li data-ui-gallery-item class="t-centered">
      <% link_to profile.url do %>
        <%= component "staff_portrait", locals: { image: profile.data.portrait } %>
      <% end %>
      <h3 class="t-heading t-heading--sub t-scale-epsilon"><%= link_to profile.data.name, profile.url %></h3>
      <%= link_to profile.data.job_title, profile.url, class: "t-heading t-heading--slug t-scale-eta c-highlight" %>
    </li>
  <% end %>
</ul>
