/* =============================================================================
//  l-Bookend layout utility
//  -> a narrow, horizontal 'strip' appearing at the top and bottom of a page
//  -> used as a common layout foundation for the main header and footer
// ========================================================================== */

/*doc
---
title: l-Bookend
name: l-bookend
category: Layout
---

*/

@import "../core/all";
@import "gutter";

/* Base
// -------------------------------------------------------------------------- */

.l-bookend {
    display: block;
    padding: gutter() gutter('wide');
}

/* Modifiers
// -------------------------------------------------------------------------- */

@include breakpointify('.l-bookend--horizontal', true, 'xsmall' 'small') {
    @include yep(flexbox) {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
    }

    .l-bookend-item--left {
        display: inline-block;
        float: left;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(left);
        }
    }

    .l-bookend-item--right {
        display: inline-block;
        float: right;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(right);
        }
    }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.l-bookend-item {
    @include clearfix;
    display: block;
    position: relative;
    vertical-align: middle;
    float: none;
    clear: both;
}

    // @include breakpointify('.l-bookend-item--left', true, 'xsmall' 'small') {
    //     display: inline-block;
    //     float: left;

    //     @include yep(flexbox, no-ie) {
    //         float: none;
    //         @include align-self(left);
    //     }
    // }
    // @include breakpointify('.l-bookend-item--right', true, 'xsmall' 'small') {
    //     display: inline-block;
    //     float: right;

    //     @include yep(flexbox, no-ie) {
    //         float: none;
    //         @include align-self(right);
    //     }
    // }

