/* =============================================================================
//  l-Bookend layout utility
//  -> a narrow, horizontal 'strip' appearing at the top and bottom of a page
//  -> used as a common layout foundation for the main header and footer
// ========================================================================== */

/*doc
---
title: l-Bookend
name: l-bookend
category: Layout
---

*/

@import "../core/all";
@import "gutter";

/* Base
// -------------------------------------------------------------------------- */

.l-bookend {
    display: block;
    padding: gutter() gutter('wide');

    @include yep(flexbox) {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
    }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.l-bookend-item {
    @include clearfix;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .l-bookend-item--left {
        float: left;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(left);
        }
    }
    .l-bookend-item--right {
        float: right;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(right);
        }
    }

