---
layout: no-slider
title: Bivee - Team Members
---
<div id="bio_container">
  <h1>Team Members</h1>

    {% for post in site.categories.bio %}
        <div id="bios">
          <img class="profile_circle" src="{{ post.image }}" />
      		<h2>{{ post.name }}</h2>
      		<h3 class="subtitle">{{ post.job-title }}</h3>
          <h4 class="highlight"> Specialities: {{ post.specialities }} </h4>
      	  <p>{{ post.content }}</p>
        </div>

            {% if forloop.last %}
              <br />
              {% else %}
              <hr />
            {% endif %}

    {% endfor %}

</div>