// =============================================================================
// Global box model and scaling
// =============================================================================

@import '../config/libs';
@import '../config/breakpoints';

html {
  box-sizing: border-box;
  font-size: 100%;

  @include media('>small') {
    font-size: 110%;
  }

  @include media('>medium') {
    font-size: 120%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
