/* ==========================================================================
//  Global media styles
// ========================================================================== */

@import "../core/all";

// padding to force an aspect ratio
// -> apply mixin to a container element, and the child element will be constrained
// -> mostly used for images, but should work on basically anything
@mixin media-aspect($w, $h, $child_el: ".media-aspect-content") {
    display: block;
    position: relative;
    overflow: hidden;

    &::before, &:before {
        display: block;
        content: " ";
        width: 100%;
        // min-height: 100px;
        padding-top: (($w/$h) * 100%);
    }

    #{$child_el} {
        // @include color('bg', 'background-color');
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@mixin media-kill-aspect {
    &:before, &::before {
        content: none;
    }
}

/* Globals
// -------------------------------------------------------------------------- */

audio,
canvas,
img,
video {
    vertical-align: middle;
    max-width: 100%;
}

figure { margin: 0; }

/* Fix IE SVG scaling issue
 * https://gist.github.com/larrybotha/7881691
 */

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */

/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"],
  source[type*="svg+xml"] {
    width: 100%;
  }
}

/* Utilities
// -------------------------------------------------------------------------- */

// constrain a video to a 16:9 aspect ratio while allowing fluid width
/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;

    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// .media-aspect-1-1 { @include media-aspect(1, 1); }
.media-aspect-1-2 { @include media-aspect(ms(1), ms(2)); }

@debug("scale: #{$ms-ratio}, aspect: ms(1): #{ms(1)} | ms(2): #{ms(2)}");

// fit the entire content in the frame instead of filling it
.media-aspect-content.media-aspect-content--contain {
    background-size: contain;
}
