      </article>
    </section>
    <div id="push"></div>
  </div>
  <footer id="contact">
    <article>
      <div class="columns large-12">
          <h2>Here is how you can get in touch</h2>
      </div>
      <div class="columns large-6">
        <div class="columns small-5 small-offset-1">
          <h3>Contact</h3>
          <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }}</a>
          <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
        </div>
        <div class="columns small-5 small-offset-1">
          <h3>Address</h3>
          <a href="#">{{ site.contact.address.line1 }}<br />{{ site.contact.address.line2 }}</a>
        </div>
      </div>
      <div class="columns large-6">
        <div class="columns small-4 small-offset-1">
          <h3>Follow us</h3>
          <a href="http://www.facebook.com/{{ site.social.facebook }}"><i class="icon-facebook"></i>Facebook</a>
          <a href="http://www.twitter.com/{{ site.social.twitter }}"><i class="icon-twitter"></i>Twitter</a>
        </div>
        <div class="columns small-5 small-offset-1">
          <h3>Connect</h3>
          <a href="http://www.linkedin.com/{{ site.social.linkedin }}"><i class="icon-linkedin"></i>Linkedin</a>
          <a href="http://www.github.com/{{ site.social.github }}"><i class="icon-github"></i>Github</a>
        </div>
      </div>
    </article>
  </footer>
  <footer id="bottom">
    <article>
      <div class="columns large-12">
          <span>&copy; Copyright  {{ site.name }} {{ site.time | date:"%Y" }}</span>
          <span>|</span>
          <span>Made with <b class="heart">♥</b> in DC</span>
      </div>
    </article>
  </footer>

{% include scripts.html %}

</body>
</html>