      </article>
    </section>
    <div id="push"></div>
  </div>
  <footer id="contact">
    <article>
      <div class="row">
        <div class="columns large-6 small-12">
            <h2>Here is how you can get in touch</h2>
        </div>
        <div class="columns large-6 small-12">
          <div class="columns small-6 large-5">
            <h3>Contact</h3>
            <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }}</a>
            <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
          </div>
          <div class="columns small-5 large-6 small-offset-1">
            <h3>Address</h3>
            <a href="#">{{ site.contact.address.line1 }}<br />{{ site.contact.address.line2 }}</a>
          </div>
        </div>
      </div>
    </article>
  </footer>
  <footer id="bottom">
    <article>
      <div class="columns large-12">
          <span>&copy; Copyright  {{ site.name }} {{ site.time | date:"%Y" }}</span>
          <span>|</span>
          <span>Made with <b class="heart">♥</b> in DC</span>
      </div>
    </article>
  </footer>

{% include scripts.html %}

</body>
</html>