<!doctype html>
<html lang="en">
<head>
  
  <title>Bivee || {% if page.title %}{{ page.title }}{% else %}Systems Development{% endif %}</title>
  
  <!-- // Site Info
  ====================================
  
  Version:  {{ site.version }}
  
  Launch:     
  Updated:    
  
  Author:   {{ site.seo.author }}
  
  Notes:    Congratulations! You are a nerd like us!
            Maybe check out the github page?

  Git:      http://www.github.com/{{ site.social.github }}
  
  ====================================
  // -->
  
  <!-- Primary Metadata  -->
  <meta charset="utf-8">
  <meta name="description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
  <meta name="keywords" content="{{ site.seo.tags }}, {{ page.tags }}"/>
  <meta name="author" content="{% if post %}{{ post.author }}{% else %}{{ site.seo.author }}{% endif %}"/>
  <meta name='viewport' content='width=device-width, target-densitydpi=160dpi, initial-scale=1'>
  <meta name="google-site-verification" content="{{ site.google.verification }}"/>
  
  <!-- Social Metadata  -->
  <meta property="fb:admins" content="{{ site.facebook.admins }}"/>
  <meta property="fb:app_id" content="{{ site.facebook.api }}"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
  <meta property="og:image" content="{{ site.assets.img }}og-image.jpg"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  
  <!-- Robots & Favicons  -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="index, follow"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
  <!-- CSS and Fonts  -->
  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}style.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500' rel='stylesheet' type='text/css'>
  
  <!-- IE Fixes  -->
  <!--[if IE]><meta content="IE=8" http-equiv="X-UA-Compatible"/><![endif]-->
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif] -->

</head>
<body>