	<section id="hero">
		<div class="table overlay">
			<div class="inner">
				<article class="grid">
					<div class="columns large-12">
						<div id="hero-logo"><img src="{{ site.root_url }}/assets/images/home/logo-bivee-vertical.png" /></div>
						<button><a href="#services">Learn More</a></button>
					</div>
				</article>
			</div>
		</div>
	</section>


<!-- 	Focused on your business need, Bivee partners with you to develop custom solutions with our backgrounds in design, systems development and business strategy. -->