	<section id="hero">
		<div class="table">
			<div class="inner">
				<article class="grid">
					<div class="columns large-12">
						<h1>Business-Driven Design</h1>
						<h2>We aren't done till it's simple.</h2>
						<button><a href="#services">Learn More</a></button>
					</div>
				</article>
			</div>
		</div>
	</section>


<!-- 	Focused on your business need, Bivee partners with you to develop custom solutions with our backgrounds in design, systems development and business strategy. -->