	<nav role="navigation" class="nav fixed">
		<ul id="nav-bar">
			<li class="logo"><a href="/" title="Homepage of {{ site.name }}" class="logo" target="_self"><img src="{{ site.root_url }}/assets/images/logos/logo-bivee.png" /></a></li>
			<li id="show-menu" class="mobile"><a href="#push-menu"><i class="icon-menu"></i><i class="icon-cross"></i></a></li>
		</ul>
		<ul id="menu">
			<li><a href="/#services">Services</a></li>
			<li><a href="/#clients">Clients</a></li>
			<li><a href="/#team">Team</a></li>
			<li><a href="/#contact">Contact</a></li>
		</ul>
	</nav>