
  <nav id="main" data-spy="affix" data-offset-top="00">
    <article>
      <div class="columns large-12">
        <a class="logo" href="/"><img class="svg color3" src="/assets/images/logo.svg" /></a>
        <div id="showmenu"><i class="icon-list"></i></div>
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li{% if page.active_tab == "about" %} class="active"{% endif %}><a href="/about">About</a></li>
          <!--<li{% if page.active_tab == "team" %} class="active"{% endif %}><a href="/team">Team</a></li>
          <li{% if page.active_tab == "services" %} class="active"{% endif %}><a href="/services">Services</a></li>-->
          <li{% if page.active_tab == "portfolio" %} class="active"{% endif %}><a href="/portfolio">Portfolio</a></li>
          <!--<li{% if page.active_tab == "blog" %} class="active"{% endif %}><a href="/blog">Blog</a></li>-->
        </ul>
      </div>
    </article>
  </nav>
  <div id="container">