  <!-- jQuery -->
  <script src="{{ site.assets.js }}modernizr.custom.js"></script>
  <script src="{{ site.assets.js }}jquery.min.js"></script>
  <script src="{{ site.assets.js }}jquery.pin.js"></script>
  <script src="{{ site.assets.js }}jquery.svg.js"></script>
{% if page.class == "slider" %}  <script src="{{ site.assets.js }}jquery.ba-cond.min.js"></script>
  <script src="{{ site.assets.js }}jquery.slider.js"></script>
{% endif %}  <script src="{{ site.assets.js }}bvscripts.js"></script>
  
    
  <!-- Google Analytics -->
  <script>var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; 
      s.parentNode.insertBefore(ga, s);
    })();
  </script>