    <div id="slider" class="sl-slider-wrapper">
      <div class="sl-slider">
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-1"></div>
            <h2>We go further than building inspiring web applications.</h2>
            <blockquote><p></p></blockquote>
          </div>
        </div>
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-2"></div>
            <h2>We partner with clients to solve challenging problems.</h2>
            <blockquote><p></p></blockquote>
          </div>
        </div>
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-3"></div>
            <h2>We place design at the center of our work.</h2>
            <blockquote><p></p></blockquote>
          </div>
        </div>
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-4"></div>
            <h2>We pilot and re-iterate to learn before scaling.</h2>
            <blockquote><p></p></blockquote>
          </div>
        </div>
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-5"></div>
            <h2>We will push your next web project further.</h2>
            <blockquote><p></p></blockquote>
          </div>
        </div>      
        <nav id="nav-arrows" class="nav-arrows">
          <span class="nav-arrow-prev">Previous</span>
          <span class="nav-arrow-next">Next</span>
        </nav>
        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </nav>
      </div>
    </div>