// =============================================================================
// Border utilities
// ==========================================================================

// Allow 'important!' here because we want the styles to always apply in small utility classes
// sass-lint:disable no-important

@import '../config/borders';
@import '../config/breakpoints';

// .border, .border@[screen]
@include breakpointify('.border', true) {
  @include border;
}

@each $side in 'top', 'right', 'bottom', 'left' {
  // .border-[side]
  @include breakpointify('.border-#{$side}', true) {
    @include border($side);
  }

  // .no-border-[side]
  @include breakpointify('.no-border-#{$side}', true) {
    border-#{$side}: 0 !important;
  }
}

// .no-border
@include breakpointify('.no-border', true) {
  border: 0 !important;
}

.border-round {
  border-radius: $border-radius;
}

// Modifiers
// --------------------------------------------------------------------------

// make a border thicker
.border-thick {
  border-width: border-w('thick');
}
