// =============================================================================
// Border utilities
// ==========================================================================

// Allow 'important!' here because we want the styles to always apply in small utility classes
// sass-lint:disable no-important

@import '../config/borders';
@import '../config/breakpoints';

.border-markers-corners {
  $slice-width: 20;
  $marker-width: 15px;
  border: border-width('thin') dotted color('border');
  position: relative;

  @supports(border-image: url('/assets/images/borders/border-markers-corners.svg') $slice-width repeat) {
    border: 0;

    // add the border image to a pseudo element so it doesn't mess with the container's padding or bg image
    &::before {
      $offset: -(($marker-width - border-width('thin')) / 2);

      border: #{$slice-width}px dotted color('border');
      border-image: url('/assets/images/borders/border-markers-corners.svg') $slice-width repeat;
      content: '';
      display: block;
      left: $offset;
      position: absolute;
      right: $offset;
      bottom: $offset;
      top: $offset;
      z-index: 3;
    }
  }
}

.border-markers-wide-top {
  $slice-width: 53;

  border-top: border-width('thin') dotted color('border');
  position: relative;

  &::after {
    $h: 40px;
    $w: border-width('thin');
    @include color-background('border');
    content: '';
    display: block;
    height: $h;
    left: 50%;
    margin-left: -($w / 2);
    position: absolute;
    top: -($h / 2);
    width: $w;
  }

  @supports(border-image: url('/assets/images/borders/border-markers-wide-top.svg') $slice-width repeat) {
    border-top: 0;

    // add the border image to a pseudo element so it doesn't mess with the container's padding or bg image
    &::before {
      border: #{$slice-width}px dotted color('border');
      border-image: url('/assets/images/borders/border-markers-wide-top.svg') $slice-width repeat;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      // height of SVG image is 15px
      // border height is 1px
      // offset = (15px - 1px)/2
      top: -7px;
    }
  }
}

// .border, .border@[screen]
@include breakpointify('.border', true) {
  @include border;
}

@each $side in 'top', 'right', 'bottom', 'left' {
  // .border-[side]
  @include breakpointify('.border-#{$side}', true) {
    @include border($side);
  }

  // .no-border-[side]
  @include breakpointify('.no-border-#{$side}', true) {
    border-#{$side}: 0 !important;
  }
}

// .no-border
@include breakpointify('.no-border', true) {
  border: 0 !important;
}

.border-round {
  border-radius: border-radius();
}

.border-round-large {
  border-radius: border-radius('large');
}

// Modifiers
// --------------------------------------------------------------------------

// make a border thicker
.border-thick {
  border-width: border-width('thick') !important;
}
