/* =============================================================================
//  Button component
// ========================================================================== */

/*doc
---
title: Button
name: button
category: components
---

*/

@import "../core/all";

$button-border-w: 'mid';

/* Base
// -------------------------------------------------------------------------- */

.button {
    $c: 'highlight';

    @include transtion;
    @include border(all, $button-border-w, $color: $c);
    @include border-radius;
    @include font;
    @include scale-type('epsilon');
    @include color($c);
    display: inline-block;
    position: relative;
    padding: 0.36em 1em 0.4em;
    background-color: transparent;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;

    &:hover,
    &:focus {
        @include color($c, $lighten: 60);
        @include color($c, 'border-color', $lighten: 60);
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
        box-shadow: none;
    }

    &:active {
        @include color($c, $darken: 60);
        @include color($c, 'border-color', $darken: 60);
        @include transition(all 0);
    }

    strong { @include font('bold'); }
}


/* Subcomponents
// -------------------------------------------------------------------------- */

/* --- button groups -------------------------------------------------------- */
.button-group {
    $gutter: gutter('narrow');

    display: block;
    position: relative;
    font-size: 0;
    list-style: none;

    > .button,
    > li,
    & > & {
        @include rem(margin, gutter('narrow') 0 0 0);
        display: block;
        width: 100%;
        vertical-align: middle;
    }
}

    // a group with no space between the buttons
    // -> looks like a single button with several "sections"
    .button-group--flush {

        > .button {
            margin: 0;
            border-radius: 0;
            border-bottom-width: 0;
            border-top-width: border-w('thin');

            &:first-child {
                border-top-width: border-w($button-border-w);
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }

            &:last-child {
                border-bottom-width: border-w($button-border-w);
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    // a vertical version for tiny screens
    @include breakpointify('.button-group--horizontal', $default: true, $sizes: 'xsmall' 'small') {
        display: inline-block;

        > .button,
        & > & {
            @include rem(margin, 0 gutter('narrow') 0 0);
            display: inline-block;
            width: auto;
            vertical-align: middle;

            &:last-child { margin-right: 0; }
        }

        > li {
            @include rem(margin, 0 gutter('narrow') 0 0);
            display: inline-block;
            vertical-align: middle;

            &:last-child { margin-right: 0; }

            .button { margin: 0 };
        }

        &.button-group--flush {
            > .button {
                margin: 0;
                border-width: border-w($button-border-w) 0 border-w($button-border-w) border-w('thin');
                border-radius: 0;

                &:first-child {
                    border-left-width: border-w($button-border-w);
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }

                &:last-child {
                    border-right-width: border-w($button-border-w);
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }


/* Modifiers
// -------------------------------------------------------------------------- */

/* --- size ----------------------------------------------------------------- */
.button--small {
    @include scale-type('zeta');
    border-width: border-w('thin');
}
.button--large { @include scale-type('delta'); }

/* --- prominence ----------------------------------------------------------- */
.button--secondary {
    @include color('text' 'secondary');
    @include color('text' 'secondary', 'border-color');
}

.button--tertiary {
    @include color('text' 'tertiary');
    @include color('text' 'tertiary', 'border-color');
}

.button--disabled { cursor: initial; }

/* --- special effects ------------------------------------------------------ */

// a button without a box, looks like a text link
.button--text {
    border: none !important;
    padding: 0;
}
