/* =============================================================================
//  Cover
// -> a main heading for content
// ========================================================================== */

@import '../config/spacing';

/* Block
// -------------------------------------------------------------------------- */

[data-ui-cover] {
  display: block;
  padding-top: space('xxlarge');
  position: relative;
  min-height: 400px;
  min-height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Traits
// -------------------------------------------------------------------------- */


/* Submodules
// -------------------------------------------------------------------------- */

[data-ui-cover-content] {
  z-index: $z--middle;
}
