/* =============================================================================
//  Cover
// -> a main heading for content
// ========================================================================== */

@import '../config/spacing';

/* Base
// -------------------------------------------------------------------------- */

[data-ui-cover] {
  display: block;
  padding-top: space('xxlarge');
  position: relative;
  min-height: 400px;
  min-height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Modifiers
// -------------------------------------------------------------------------- */

[data-ui-cover~='overlay'] {
  &::before {
  $bg: highlight('kiwi');

  background-color: $bg;
  background-color: transparent;
  background-image: linear-gradient($bg 40%, transparent);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z--low;
}

/* Submodules
// -------------------------------------------------------------------------- */

[data-ui-cover-content] {
  z-index: $z--middle;
}
