/* Logo
================================================== */

	.logo {
		position: relative;
		display: block;
		text-align: left;
		padding-bottom: 30px;
	}
	.flask {
  	margin-bottom: 30px;
	}
	
/* Sections
================================================== */

  section, footer {
      padding-top: 40px;
      padding-bottom: 40px;
  }
  
	section.content {
	}
	
	.bios {
  	img.profile {
    	.radius(50px);
    	height: 100px;
    	width: 100px;
    	float: left;
    	margin-right: 20px;
  	}
  	h3 {
    	font-weight: @regular;
    	line-height: 1.5em;
  	}
  	h4 {
    	font-weight: @light;
    	font-style: italic;
    	color: @grey;
  	}
	}
	
	.posts{
  	ul li {
    	display: block;
    	border-bottom: 1px solid @offwhite;
    	padding-top: 1em;
    	padding-bottom: 1em;
    	.transition;
    	&:hover {
      	background: darken(@white, 2.5%);
    	}
  	}
  	.date {
    	text-transform: uppercase;
    	font-weight: @light;
    	color: @grey;
    	font-size: 80%;
  	}
  	h2 a{
    	color: @colour1;
    	font-size: 80%;
  	}
	}
	
	ul.pagination {
	  padding-top: 30px;
	  padding-bottom: 30px;
	  color: darken(@white, 10%);
	  
  	li {
    	display: inline-block;
    	a {
      	color: @colour1;
    	}
    	&.prev {
      	float: left;
    	}
    	&.next {
      	float: right;
    	}
  	}
  }
	

/* Page Headers
================================================== */
  section#banner {
    @color: @colour1;
    background: @color;
    
    h1 {
      color: @white;
    }
  }



/* Nav Menus
================================================== */
  div#main {
    padding-top: 20px;
    padding-bottom: 40px;
    z-index: 99;
    position: absolute;
    
    .logo svg {
      width: 180px;
    }
    
    ul {
      display: block;
      list-style: none;
    }
    li {
      padding-top: 15px;
      display: block;
      font-weight: @light;
    }
    
    a {
      color: @black;
      &:hover {
        color: @colour1;
      }
    }
    
    #showmenu {
      display: none;
      position: absolute;
      right: 15px;
      top: 15px;
      background: @colour3;
      height: 40px;
      width: 40px;
      padding-top: 12px;
      color: @white;
      text-align: center;
      .radius(20px);
      &:hover {
        background: @colour1;
      }
    }
  }

/* Footer 
================================================== */

  footer {
    background: @offwhite;
    
    h2, a {
      color: @grey;
    }
    a {
      display: block;
      font-weight: @light;
      padding-bottom: 5px;
    }
    a:hover {
      color: @colour1;
    }
    i {
      margin-right: 10px;
    }
    h3 {
      font-weight: @light;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 80%;
      color: @colour1;
    }
  }
 
 /* Set footerHeight to TOTAL height of all divs to be sticky */
 @footerHeight: 309px;
 
 footer#bottom {
   background: @black;
   color: @white;
   font-weight: @thin;
   font-size: 80%;
   padding-top: 15px;
   padding-bottom: 15px;
   
   span {
     padding-right: 20px;
     color: @grey;
   }
 }
  #push {
    height: @footerHeight;
  }
  #container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-1 * @footerHeight);
  }