/* Bivee Styles
===================================================================*/

@colour1: #fdb813;
@colour2: #00aae5;
@colour3: #e31d38;
@gray:  #89949B;
@white: #ffffff;
@offwhite: darken(@white, 5%);
@black: #666666;

.font { font-family: 'Lato', 'Helvetica Neue',  Helvetica, Verdana, Arial, sans-serif; }

@import url('http://fonts.googleapis.com/css?family=Lato:300');

@import "_mixins.less";
@import "_reset.less";
@import "_site.less";
@import "_form.less";