/*
	Stylesheet for http://www.bivee.co
	----------------------------------------------------------
	Designed & developed by Nicholas A. Kingston, Scott M. Schaffter
	
	Version 1.0
	
-------------------------------------------------------------------------------*/

/* Scott Styles
================================================== */
img.profile_circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px 15px 15px 0;
    float:left;
}

.subtitle {
	font-size:125%;
	color:#666;
	line-height:160%;

}

.highlight {
	 color: #00aae5;
	 font-style: italic;
	 margin-top:10px;
}

#bios {
	padding-top:25px;
}