@import 'http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:300,500,300italic';
.font-text {
  font-family: 'Open Sans';
}
.font-text-italic,
em {
  font-family: 'Open Sans';
  font-style: italic;
}
.font-text-bold,
strong,
b {
  font-family: 'Open Sans';
  font-weight: 500 !important;
}
h1 {
  font-family: "Varela Round";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 150%;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
h1,
a h1 {
  font-size: 4.25em;
  letter-spacing: 0.1em;
  font-weight: 100;
}
h2,
a h2 {
  font-size: 2.25em;
  font-weight: 100;
  letter-spacing: 2px;
}
h3,
a h3 {
  font-size: 1.625em;
}
h4,
a h4 {
  font-size: 1.5em;
}
h5,
a h5 {
  font-size: 1.25em;
}
h6,
a h6 {
  font-size: 1em;
}
p,
ul,
ol {
  font-family: 'Open Sans';
  font-size: 1.2em;
  line-height: 200%;
  color: #2f2b2a;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e600";
}
.icon-checkmark:before {
  content: "\e601";
}
.icon-google:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e605";
}
.icon-pinterest:before {
  content: "\e606";
}
.icon-linkedin:before {
  content: "\e612";
}
.icon-cross:before {
  content: "\e613";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-arrow-right:before {
  content: "\e60a";
}
.icon-arrow-left2:before {
  content: "\e60b";
}
.icon-arrow-down2:before {
  content: "\e60c";
}
.icon-arrow-up2:before {
  content: "\e60d";
}
.icon-arrow-right2:before {
  content: "\e60e";
}
.icon-instagram:before {
  content: "\e60f";
}
@viewport {
  width: device-width;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  overflow-y: scroll;
}
::selection {
  background: #a1d0e0;
}
::-moz-selection {
  background: #a1d0e0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
nav,
section,
footer {
  width: 100%;
}
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
hr {
  height: 2rem;
  width: 100%;
  border: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  background: #f4f3f0;
}
#container {
  position: relative;
  top: 0;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
#container {
  position: relative;
  max-width: 72em;
  margin-left: auto;
  margin-right: auto;
}
#container footer {
  background: none !important;
  border-bottom: 1px solid #e3e3d6;
}
section {
  color: #262524;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 570px;
}
section#content-page {
  padding: 0 !important;
}
article {
  padding-top: 1em;
  padding-bottom: 1em;
}
header {
  padding-top: 2em;
  padding-bottom: 1em;
}
footer {
  padding-top: 4em;
  padding-bottom: 4em;
  background: #eceade;
}
footer#end {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  background: #1f1e1d;
  font-size: 75%;
}
footer#end p {
  color: #737469 !important;
}
#hero {
  background: url(../images/home/cover.jpg) no-repeat center center;
  height: 100%;
  min-height: 570px;
  text-align: left;
  position: relative;
  font-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#hero article,
#hero h1,
#hero h2 {
  text-align: left;
  color: #eceade !important;
  text-shadow: 0 0 2px #1f1e1d;
}
#hero button {
  background: #f47920;
}
#hero button:hover {
  background: #db5c1e;
}
#contact {
  background: #262524;
}
#contact h1,
#contact h2,
#contact h3,
#contact h4,
#contact h5,
#contact h6,
#contact p {
  color: #737469 !important;
}
a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
img.img-s,
img.img-m,
img.img-l,
img.img-x,
img.img-full {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
img.img-s {
  max-width: 300px;
}
img.img-m {
  max-width: 300px;
}
img.img-l {
  max-width: 300px;
}
img.img-x {
  max-width: 300px;
}
img.img-full {
  max-width: 300px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
.no-padding {
  padding: 0 !important;
  display: block;
}
@media only screen and (min-width: 20em) {
  .grid {
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    *zoom: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .grid:before,
  .grid:after {
    content: " ";
    display: table;
  }
  .grid:after {
    clear: both;
  }
  .grid .grid {
    width: auto;
    margin: 0, -0.9375em;
    max-width: none;
    *zoom: 1;
  }
  .grid .grid:before,
  .grid .grid:after {
    content: " ";
    display: table;
  }
  .grid .grid:after {
    clear: both;
  }
  .columns {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .columns .columns {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0.9375rem;
  }
  .columns .columns:nth-child(even) {
    padding-left: 0.9375rem;
    padding-right: 0;
  }
}
form {
  margin-top: 1em;
  margin-bottom: 1em;
}
input,
textarea {
  display: block;
  width: 100%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  padding: 1em;
  font-size: 120%;
  background: #1f1e1d;
  color: #8d8c82;
  font-weight: 300;
  margin-top: 1em;
  border: none;
}
textarea {
  height: 8em;
}
label {
  display: block;
  font-size: 110%;
  margin: 1em 0.2em 2em;
  color: #737469;
  font-family: 'Open Sans';
}
#contact-form h3 strong {
  color: #7bc043 !important;
}
button {
  background: #126567;
  color: #eceade;
  letter-spacing: 2px;
  position: relative;
  font-family: "Varela Round";
  text-transform: uppercase !important;
  padding: 1em 2em;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
button a {
  color: #f4f3f0;
}
button:hover {
  background: #0a3a3c;
}
a.read-more {
  margin: 2em 0 2em;
  display: block;
  text-align: center;
  color: #817f74;
  text-decoration: none;
  letter-spacing: 3px;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
}
a.read-more::after {
  font-family: 'icomoon';
  content: "\e60e";
  font-size: 120%;
  vertical-align: middle;
}
a.read-more:hover {
  color: #1f1e1d;
}
#nav-spacer {
  content: "";
  display: block;
  position: relative;
  height: 2.625rem;
  width: 100%;
  margin: 0;
  padding: 0;
}
[role="navigation"] {
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
  height: 5rem;
  position: fixed;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
[role="navigation"].fixed {
  background: rgba(31, 30, 29, 0.8) !important;
  height: 3.625rem;
}
[role="navigation"].fixed a {
  height: 3.625rem;
}
[role="navigation"] ul {
  display: table;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  padding: 0;
}
[role="navigation"] ul#navbar {
  position: relative;
  top: 0;
}
[role="navigation"] ul a {
  margin: 0;
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
  padding: 0 2em;
  letter-spacing: 2px;
  color: #f4f3f0;
  font-family: 'Open Sans';
}
[role="navigation"] ul a:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  *zoom: 1;
}
[role="navigation"] ul li {
  vertical-align: middle;
  text-align: right;
  display: inline-block;
  margin: 0;
  padding: 0;
}
[role="navigation"] ul li.logo {
  display: block;
  height: inherit;
  float: left;
  padding: 0;
  margin: 0;
}
[role="navigation"] ul li.logo a {
  padding: 0 0 0 2em;
}
[role="navigation"] ul li.logo img {
  height: inherit;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
}
[role="navigation"] ul li#show-menu {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
}
[role="navigation"] ul li#show-menu a {
  padding: 0;
}
[role="navigation"] ul li#show-menu i {
  display: inline-block;
  font-size: 1rem;
  width: 5rem;
  color: #eceade;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
[role="navigation"] ul li#show-menu i.icon-cross {
  display: none !important;
}
[role="navigation"] ul li#show-menu.active i.icon-cross {
  display: block !important;
}
[role="navigation"] ul li#show-menu.active i.icon-menu {
  display: none;
}
#services h1,
#services h2 {
  color: #126567 !important;
  text-align: left;
  font-family: "Varela Round";
}
#services h3 {
  text-align: center;
  font-family: "Varela Round";
  margin-top: 1em;
  margin-bottom: 1em;
}
#services figure {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}
#services figure img {
  max-width: 15em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
}
#services ul {
  display: block;
  list-style: none;
  background: #eceade;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  padding: 2em 1em;
  margin-bottom: 2em;
  text-align: center;
}
#services ul li {
  position: relative;
  line-height: 250%;
}
footer.services {
  background: url(../images/home/brick.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f4f3f0 !important;
}
footer.services h2 {
  font-family: "Varela Round" !important;
}
footer.services p {
  color: #f4f3f0 !important;
  font-weight: 600;
}
footer.services .columns {
  margin-top: 2em;
  margin-bottom: 2em;
}
#clients h1,
#clients h2,
#clients h3,
#clients h4,
#clients h5,
#clients h6 {
  color: #f47920;
}
.logo-wall {
  list-style: none;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}
.logo-wall li {
  display: inline-block;
  width: 200px;
  padding: 20px 20px;
}
.logo-wall a:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  *zoom: 1;
}
.testimonials ul {
  list-style: none;
}
.testimonials img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  border: 0.5em solid #e3e3d6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.testimonials h3 {
  line-height: 100% !important;
}
.testimonials h4 {
  color: #817f74;
}
footer.testimonials {
  background: #f47920;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#team {
  text-align: center;
  position: relative;
}
#team h1 {
  color: #126567;
  text-align: left;
}
#team h3 {
  color: #126567;
  font-weight: 300 !important;
  padding-bottom: 0 !important;
  font-size: 110%;
}
#team h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%;
  padding-bottom: 0 !important;
  color: #f47920;
}
#team h5 {
  color: #817f74;
  font-size: 80%;
}
#team p {
  text-align: left;
}
#team img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  border: 0.5em solid #e3e3d6;
  width: 11.25em;
  height: 11.25em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#team .team-grid {
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  list-style: none;
  text-align: center;
  display: block;
}
#team .team-grid::after {
  display: inline-block;
}
#team .team-grid li {
  float: left;
  vertical-align: top;
  display: block;
  padding: 1.5em 0 1.5em 0;
  margin: 1.5em 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#team .team-grid li:hover {
  background: #eceade;
}
#team .team-grid li:hover img {
  border-color: #98c93c;
}
#team footer {
  border-bottom: none !important;
}
#team-profile {
  background: no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f4f3f0;
  min-height: 250px;
}
#team-profile figcaption {
  padding: 7em 1em 2em;
}
#team-profile figcaption h1,
#team-profile figcaption h2,
#team-profile figcaption h3,
#team-profile figcaption h4,
#team-profile figcaption h5,
#team-profile figcaption h6 {
  padding: 0.25em 0 !important;
  margin: 0 !important;
  line-height: 120%;
  text-shadow: 0 0 4px #1f1e1d;
}
#team-profile figcaption ul.social {
  font-size: 120%;
  text-align: left;
}
.team-bio {
  padding: 3em 1em;
}
#blog {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}
#blog h1,
#blog h2,
#blog h3,
#blog h4,
#blog h5,
#blog h6,
#blog a,
#blog p {
  color: #262524;
}
#blog footer {
  background: none;
}
.post-list {
  margin-bottom: 2em;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  list-style: none;
  display: block !important;
}
.post-list li {
  float: left;
  vertical-align: top;
  display: block;
  padding: 1.5em 0.5em 0 !important;
  margin: 1.5em 0 0 !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-list li figure {
  width: 100%;
}
.post-list li h3 {
  color: #f4f3f0;
  font-size: 150%;
  padding: 0 !important;
  margin: 0 !important;
}
.post-list li p {
  color: #e3e3d6;
  display: block;
  padding: 0;
  margin: 0;
}
.post-list li p.date {
  font-size: 90%;
  padding: 1em 0 0 !important;
  margin: 0 !important;
}
.pagination {
  list-style: none;
  text-align: center;
  background: #eceade;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
}
.pagination li {
  display: inline-block;
  padding: 0.70em;
}
.pagination li.next {
  float: left;
  display: block;
}
.pagination li.prev {
  float: right;
  display: block;
}
#contact h3 {
  color: #e3e3d6 !important;
}
#contact label span {
  margin-top: 1em;
  font-size: 90%;
  display: block;
  position: relative;
  color: #a11918;
}
#contact label span i {
  font-size: 90%;
  padding-right: 0.5em;
}
#contact label span.error {
  display: none;
}
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  font-family: "icomoon" !important;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
.social {
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.social li {
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  margin-left: 0.5em;
  margin-right: 0.5em;
  line-height: 100% !important;
}
.social a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-size: 1em;
  padding: 0.75em;
  text-align: center;
  color: #eceade;
}
.social a i {
  font-size: 1.5em;
}
.fb {
  background-color: #3b5998 !important;
  color: #f4f3f0;
}
.fb:hover {
  background-color: #4c70ba !important;
}
.tw {
  background-color: #4099ff !important;
  color: #f4f3f0;
}
.tw:hover {
  background-color: #73b4ff !important;
}
.gp {
  background-color: #d34836 !important;
  color: #f4f3f0;
}
.gp:hover {
  background-color: #dc6e60 !important;
}
.pn {
  background-color: #c92228 !important;
  color: #f4f3f0;
}
.pn:hover {
  background-color: #df3f45 !important;
}
.vm {
  background-color: #aad450 !important;
  color: #f4f3f0;
}
.vm:hover {
  background-color: #bede79 !important;
}
.yt {
  background-color: #c4302b !important;
  color: #f4f3f0;
}
.yt:hover {
  background-color: #d74f4b !important;
}
.in {
  background-color: #4875b4 !important;
  color: #f4f3f0;
}
.in:hover {
  background-color: #6b90c4 !important;
}
.ig {
  background-color: #4e433c !important;
  color: #f4f3f0;
}
.ig:hover {
  background-color: #6b5c52 !important;
}
.top {
  background: #1f1e1d;
}
.top:hover {
  background: #262524;
}
/* Responsive
================================================== */
.mobile {
  display: none;
}
/*=Phone Screens (Portrait)
==================================================== */
@media only screen and (max-width: 48em) {
  body {
    font-size: 60%;
  }
  .desktop,
  .desktop-inline,
  .desktop-table {
    display: none !important;
  }
  .three-across li,
  .four-across li,
  .six-across li,
  .eight-across li {
    width: 100%;
    padding-bottom: 100%;
  }
  ul#menu {
    position: fixed;
    top: top: 3.625rem;
    width: 100%;
    display: none;
  }
  ul#menu li {
    width: 100%;
    background: rgba(31, 30, 29, 0.8);
    left: 0;
    text-align: left;
    display: block !important;
    width: 100% !important;
    float: none !important;
  }
  ul#menu li .icon-menu {
    background: #008ec6 !important;
  }
}
/*=Tablet Screens (Portrait)
==================================================== */
@media only screen and (min-width: 48em) {
  body {
    font-size: 100%;
  }
  .grid {
    width: 100%;
  }
  .grid .large-1 {
    width: 8.333333333333334%;
  }
  .grid .large-2 {
    width: 16.666666666666668%;
  }
  .grid .large-3 {
    width: 25%;
  }
  .grid .large-4 {
    width: 33.333333333333336%;
  }
  .grid .large-5 {
    width: 41.66666666666667%;
  }
  .grid .large-6 {
    width: 50%;
  }
  .grid .large-7 {
    width: 58.333333333333336%;
  }
  .grid .large-8 {
    width: 66.66666666666667%;
  }
  .grid .large-9 {
    width: 75%;
  }
  .grid .large-10 {
    width: 83.33333333333334%;
  }
  .grid .large-11 {
    width: 91.66666666666667%;
  }
  .grid .large-12 {
    width: 100%;
  }
  .grid .large-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .grid .large-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .grid .large-offset-3 {
    margin-left: 25%;
  }
  .grid .large-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .grid .large-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid .large-offset-6 {
    margin-left: 50%;
  }
  .grid .large-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid .large-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .grid .large-offset-9 {
    margin-left: 75%;
  }
  .grid .large-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid .large-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .desktop {
    display: block !important;
  }
  .desktop-inline {
    display: inline-block !important;
  }
  .desktop-table {
    display: table-cell !important;
  }
  .mobile,
  .mobile-inline {
    display: none !important;
  }
  .three-across li {
    width: 33.333333333333336% !important;
    padding-bottom: 33.333333333333336%;
  }
  .four-across li {
    width: 25% !important;
    padding-bottom: 25%;
  }
  .six-across li {
    width: 16.6666667% !important;
    padding-bottom: 16.6666667%;
  }
  .eight-across li {
    width: 12.5% !important;
    padding-bottom: 12.5%;
  }
  #menu {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    display: table !important;
  }
  #menu li {
    display: inline-block !important;
    float: left;
    background: none;
    width: auto !important;
  }
}
/*=Tablet Screens (Landscape)
==================================================== */
/*=Desktop Screens
==================================================== */
@media only screen and (min-width: 1200px) {
  #team-profile {
    min-height: 600px;
  }
}
