/*
	Stylesheet for http://www.bivee.co
	----------------------------------------------------------
	Designed & developed by Nicholas A. Kingston, Scott M. Schaffter
	
	Version 1.0
	
-------------------------------------------------------------------------------*/
.center {
  margin-left: auto;
  margin-right: auto;
}
/* Reset
================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
nav,
section,
footer {
  width: 100%;
}
/* Responsive images and other image fixes */
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
/* Force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* Define highlighting colors */
::selection {
  background: #55e7ca;
}
::-moz-selection {
  background: #55e7ca;
}
/* Fix for psuedo elements */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Fix for links */
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
/* Nicer HR Tags */
hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
/* Typography
================================================== */
.font {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
.heading {
  font-family: .font;
}
/* Font Colors */
.textcolor1 {
  color: #a6ce38;
}
.textcolor2 {
  color: #1abc9c;
}
.textcolor3 {
  color: #00aae5;
}
.textwhite {
  color: #ffffff;
}
.textoffwhite {
  color: #f2f2f2;
}
.textgrey {
  color: #89949b;
}
.textblack {
  color: #333333;
}
/* Link Styles */
a {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  text-decoration: none;
}
/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 320%;
  line-height: 160%;
}
h2 {
  font-weight: 300;
  font-size: 200%;
  line-height: 160%;
}
h3 {
  font-weight: 400;
  font-size: 120%;
  line-height: 160%;
}
h4 {
  font-weight: 300;
  font-size: 100%;
  line-height: 160%;
  font-style: italic;
}
h5 {
  font-weight: 400;
  font-size: 90%;
  line-height: 160%;
}
/* Paragraph Styles */
p {
  padding-bottom: 25px;
  font-weight: 300;
  line-height: 180%;
}
/* Link Styles */
/* Other Styles */
.heart {
  color: #f43059;
}
/* SVG
================================================== */
svg.color1 {
  background: none !important;
  fill: #a6ce38 !important;
}
svg.color1:hover {
  fill: #cbe28a !important;
}
svg.color2 {
  background: none !important;
  fill: #1abc9c !important;
}
svg.color2:hover {
  fill: #55e7ca !important;
}
svg.color3 {
  background: none !important;
  fill: #00aae5 !important;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
svg.color3:hover {
  fill: #4cd1ff !important;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
svg.red {
  background: none !important;
  fill: #f43059 !important;
}
svg.red:hover {
  fill: #f991a7 !important;
}
svg.fusia {
  background: none !important;
  fill: #ec008b !important;
}
svg.fusia:hover {
  fill: #ff53b8 !important;
}
svg.orange {
  background: none !important;
  fill: #f46801 !important;
}
svg.orange:hover {
  fill: #fea15d !important;
}
svg.yellow {
  background: none !important;
  fill: #fdb813 !important;
}
svg.yellow:hover {
  fill: #fed678 !important;
}
svg.lime {
  background: none !important;
  fill: #a6ce38 !important;
}
svg.lime:hover {
  fill: #cbe28a !important;
}
svg.green {
  background: none !important;
  fill: #2ecc71 !important;
}
svg.green:hover {
  fill: #7ee2a8 !important;
}
svg.aqua {
  background: none !important;
  fill: #1abc9c !important;
}
svg.aqua:hover {
  fill: #55e7ca !important;
}
svg.blue {
  background: none !important;
  fill: #00aae5 !important;
}
svg.blue:hover {
  fill: #4cd1ff !important;
}
svg.navy {
  background: none !important;
  fill: #0060ae !important;
}
svg.navy:hover {
  fill: #1596ff !important;
}
svg.purple {
  background: none !important;
  fill: #6f2b90 !important;
}
svg.purple:hover {
  fill: #a555cc !important;
}
svg.white {
  background: none !important;
  fill: #ffffff !important;
}
svg.white:hover {
  fill: #cccccc !important;
}
svg.offwhite {
  background: none !important;
  fill: #f2f2f2 !important;
}
svg.offwhite:hover {
  fill: #bfbfbf !important;
}
svg.grey {
  background: none !important;
  fill: #89949b !important;
}
svg.grey:hover {
  fill: #c0c6ca !important;
}
svg.black {
  background: none !important;
  fill: #89949b !important;
}
svg.black:hover {
  fill: #666666 !important;
}
/* Sections
================================================== */
section,
nav,
footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Bio [For future versions]
================================================== */
.team {
  text-align: center;
}
.team h2 {
  text-align: left;
  color: #00aae5;
}
.team .bios {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 160px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
.team .bios .picture {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  margin: 10px;
}
.team .bios .picture img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  display: block;
  width: 100%;
  max-width: 160px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  z-index: 0;
}
.team .bios .picture:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.team .bios .picture::before {
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  padding: 25% 10%;
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 100;
  background: #a6ce38;
  background: rgba(166, 206, 56, 0.8);
  content: attr(data-title);
  z-index: 1;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  *zoom: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.team .bios .picture:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  *zoom: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.team .bios h2,
.team .bios h3 {
  font-size: 120%;
}
#profile {
  text-align: center;
}
#profile img.circle {
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  max-width: 150px;
  height: auto;
}
#profile .title {
  text-align: left;
}
#profile ul {
  list-style: none;
  text-align: left;
  margin-top: 30px;
}
#profile ul li {
  font-weight: 300;
  display: inline-block;
  background: #89949b;
  padding: 4px 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 80%;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}

/* About Page Intro
================================================== */
.about h2 {
  text-align: left;
  color: #00aae5;
}

/* Portfolio
================================================== */
.projects {
  text-align: center;
}
.projects h2 {
  text-align: left;
  color: #00aae5;
}
.projects .case {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 300px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  padding: 20px;
}
.projects .case .picture {
  display: inline-block;
  position: relative;
  margin: 10px;
}
.projects .case .picture img {
  display: block;
  width: 100%;
  max-width: 160px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  z-index: 0;
}
.projects .case .picture:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.projects .case h2,
.projects .case h3 {
  font-size: 120%;
}
#case {
  text-align: center;
}
#case img.casephoto {
  display: block;
  width: 100%;
}
#case img.clientlogo {
  display: inline-block;
  max-width: 400px;
  height: auto;
}
#case .title {
  text-align: left;
}
#case ul {
  list-style: none;
  margin-top: 30px;
}
#case ul li {
  font-weight: 300;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 80%;
  color: #89949b;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}

div#portfolio h3 {
  text-align:left;
  font-weight:200;
  font-size:130%;
  margin-bottom:10px;
  color: #00aae5 ;
}

div#portfolio .content{
  padding:0px;
}

div#portfolio .team{
  text-align:left;
}

div#portfolio .team .bios{
  margin:0 0 35px 0;
  width:110px;
}
div#portfolio .team .bios .picture img{
  max-width:110px;
}

div#portfolio .images img{
  display:inline-block;
  margin-top:10px;
  margin-bottom:20px;
}

div#portfolio .images{
 text-align:center;

}


/* Blog
================================================== */
.posts ul li {
  display: block;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
.posts ul li:hover {
  background: #f9f9f9;
}
.posts .date {
  text-transform: uppercase;
  font-weight: 300;
  color: #89949b;
  font-size: 80%;
}
.posts h2 a {
  color: #a6ce38;
  font-size: 80%;
}
ul.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #e6e6e6;
}
ul.pagination li {
  display: inline-block;
}
ul.pagination li a {
  color: #a6ce38;
}
ul.pagination li.prev {
  float: left;
}
ul.pagination li.next {
  float: right;
}
/* Header
================================================== */
/* Page Headers
================================================== */
section#banner {
  padding-top: 150px;
  background: #a6ce38;
  position: relative;
  z-index: 1;
}
section#banner h1 {
  color: #ffffff;
}
#slider {
  top: 70px;
}
.content {
  padding-bottom: 70px;
}
.content::before {
  display: table;
  content: " ";
  *zoom: 1;
  width: 100%;
  padding-top: 30px;
}
/* Nav Menu
================================================== */
nav#main {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
  border-top: 1px solid #f2f2f2;
  position: fixed;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
nav#main ul {
  display: inline;
  float: right;
  list-style: none;
  text-align: right;
  padding-top: 15px;
}
nav#main li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
nav#main a {
  color: #89949b;
}
nav#main a:hover {
  color: #a6ce38;
}
nav#main #showmenu {
  display: none;
  position: absolute;
  font-size: 200%;
  right: 15px;
  top: 5px;
  padding-top: 4px;
  background: #89949b;
  height: 40px;
  width: 40px;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
nav#main #showmenu:hover {
  background: #a6ce38;
}
nav#main a.logo {
  display: inline;
  position: relative;
  padding: 10px;
}
nav#main a.logo svg {
  height: 40px;
}
/* Footer 
================================================== */
footer {
  background: #f2f2f2;
}
footer h2,
footer a {
  color: #89949b;
}
footer a {
  display: block;
  font-weight: 300;
  padding-bottom: 5px;
}
footer a:hover {
  color: #a6ce38;
}
footer i {
  margin-right: 10px;
}
footer h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-size: 80%;
  color: #a6ce38;
}
/* Set footerHeight to TOTAL height of all divs to be sticky */
footer#bottom {
  background: #333333;
  color: #ffffff;
  font-weight: 200;
  font-size: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
footer#bottom span {
  padding-right: 20px;
  color: #89949b;
}
#push {
  height: 209px;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -209px;
}
/* Front page
================================================== */

div#clients {
  margin-top:35px;
}

div#clients .projects .case {
  margin:0px;
  width:250px;
}

div#clients .projects .picture {
  margin:0px;
}

div#clients .projects .picture img {
  max-width:150px;
}

/* Slider
================================================== */
.sl-slider-wrapper {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
.sl-slider-inner .logo svg {
  display: inline-block;
  position: relative;
}
.sl-slider h2,
.sl-slider blockquote {
  padding: 100px 30px 10px 30px;
  width: 80%;
  max-width: 960px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.sl-slider h2 {
  font-weight: 300;
  font-size: 320%;
  line-height: 160%;
}
.sl-slider blockquote {
  font-size: 28px;
  padding-top: 10px;
  font-weight: 300;
}
.sl-slider blockquote cite {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 30px;
  display: inline-block;
}
.bg-img {
  padding: 200px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
/* Custom navigation arrows */
.nav-arrows span {
  position: absolute;
  z-index: 2000;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 8px solid #fff;
  border: 8px solid rgba(255, 255, 255, 0.4);
  text-indent: -90000px;
  margin-top: -40px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
.nav-arrows span:hover {
  border-color: #ffffff;
}
.nav-arrows span.nav-arrow-prev {
  left: 5%;
  border-right: none;
  border-top: none;
}
.nav-arrows span.nav-arrow-next {
  right: 5%;
  border-left: none;
  border-bottom: none;
}
/* Custom navigation dots */
.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 2%;
  height: 30px;
  width: 100%;
  left: 0;
  z-index: 1000;
}
.nav-dots span {
  cursor: pointer;
  background: #ddd;
  background: rgba(150, 150, 150, 0.1);
  margin: 6px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.nav-dots span.nav-dot-current,
.nav-dots span:hover {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.5);
}
.nav-dots span.nav-dot-current:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}
.bg-img-1 {
  background-image: url(../images/slider/cliffs2.jpg);
}
.bg-img-2 {
  background-image: url(../images/slider/gear3.jpg);
  /*background: #1abc9c;*/
}
.bg-img-3 {
  background-image: url(../images/slider/caribeener.jpg);
  /*background: #00aae5;*/
}
.bg-img-4 {
  background-image: url(../images/slider/chinatown.jpg);
  /*background: #89949b;*/
}
.bg-img-5 {
  background-image: url(../images/slider/mountaintop.jpg);
}
/* Animations for content elements */
.sl-trans-elems .deco {
  -webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2 {
  -webkit-animation: moveUp 1s ease-in-out both;
  -moz-animation: moveUp 1s ease-in-out both;
  -o-animation: moveUp 1s ease-in-out both;
  -ms-animation: moveUp 1s ease-in-out both;
  animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote {
  -webkit-animation: fadeIn 0.5s linear 0.5s both;
  -moz-animation: fadeIn 0.5s linear 0.5s both;
  -o-animation: fadeIn 0.5s linear 0.5s both;
  -ms-animation: fadeIn 0.5s linear 0.5s both;
  animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco {
  -webkit-animation: scaleDown 1s ease-in-out both;
  -moz-animation: scaleDown 1s ease-in-out both;
  -o-animation: scaleDown 1s ease-in-out both;
  -ms-animation: scaleDown 1s ease-in-out both;
  animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2 {
  -webkit-animation: fadeOut 1s ease-in-out both;
  -moz-animation: fadeOut 1s ease-in-out both;
  -o-animation: fadeOut 1s ease-in-out both;
  -ms-animation: fadeOut 1s ease-in-out both;
  animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote {
  -webkit-animation: fadeOut 1s linear both;
  -moz-animation: fadeOut 1s linear both;
  -o-animation: fadeOut 1s linear both;
  -ms-animation: fadeOut 1s linear both;
  animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateX(500px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}
@-moz-keyframes roll {
  0% {
    -moz-transform: translateX(500px) rotate(360deg);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@-o-keyframes roll {
  0% {
    -o-transform: translateX(500px) rotate(360deg);
    opacity: 0;
  }
  100% {
    -o-transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@-ms-keyframes roll {
  0% {
    -ms-transform: translateX(500px) rotate(360deg);
    opacity: 0;
  }
  100% {
    -ms-transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll {
  0% {
    transform: translateX(500px) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes moveUp {
  0% {
    -moz-transform: translateY(40px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@-o-keyframes moveUp {
  0% {
    -o-transform: translateY(40px);
  }
  100% {
    -o-transform: translateY(0px);
  }
}
@-ms-keyframes moveUp {
  0% {
    -ms-transform: translateY(40px);
  }
  100% {
    -ms-transform: translateY(0px);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
  }
}
@-moz-keyframes scaleDown {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.5);
  }
}
@-o-keyframes scaleDown {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.5);
  }
}
@-ms-keyframes scaleDown {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.5);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.sl-slider {
  position: absolute;
  top: 0;
  left: 0;
}
/* Slide wrapper and slides */
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sl-slide {
  z-index: 1;
}
/* The duplicate parts/slices */
.sl-content-slice {
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}
/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  -webkit-transform: translateY(0%) scale(1);
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}
.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px;
}
.sl-slide-horizontal .sl-content-slice:nth-child(2) {
  top: 50%;
  padding: 0px 200px 200px 200px;
}
/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  -webkit-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);
}
.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px;
}
.sl-slide-vertical .sl-content-slice:nth-child(2) {
  left: 50%;
  padding: 200px 200px 200px 0px;
}
/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
  position: absolute;
}
.sl-content {
  width: 100%;
  height: 100%;
  background: #fff;
}
/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
  background: #ddd;
}
.sl-slide-vertical .sl-slide-inner {
  background: #ccc;
}
/* Media Queries for custom slider */
@media screen and (max-width: 660px) {
  .sl-slider-wrapper {
    height: 500px;
  }
  .sl-slider h2 {
    font-size: 36px;
  }
  .sl-slider blockquote {
    display: none;
  }
}
/* Grid Styles
================================================== */
article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
  *zoom: 1;
}
article:before,
article:after {
  content: " ";
  display: table;
}
article:after {
  clear: both;
}
article article {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
article article:before,
article article:after {
  content: " ";
  display: table;
}
article article:after {
  clear: both;
}
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
.columns .columns {
  padding-left: 0;
  padding-right: 0;
}
@media only screen {
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .small-1,
  .small-2,
  .small-3,
  .small-4,
  .small-5,
  .small-6,
  .small-7,
  .small-8,
  .small-9,
  .small-10,
  .small-11,
  .small-12,
  .small-offset-0,
  .small-offset-1,
  .small-offset-2,
  .small-offset-3,
  .small-offset-4,
  .small-offset-5,
  .small-offset-6,
  .small-offset-7,
  .small-offset-8,
  .small-offset-9,
  .small-offset-10,
  .small-offset-11,
  .small-offset-12 {
    position: relative;
  }
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
  .small-offset-0 {
    margin-left: 4.16665%;
  }
  .small-offset-1 {
    margin-left: 8.33333%;
  }
  .small-offset-2 {
    margin-left: 16.66667%;
  }
  .small-offset-3 {
    margin-left: 25%;
  }
  .small-offset-4 {
    margin-left: 33.33333%;
  }
  .small-offset-5 {
    margin-left: 41.66667%;
  }
  .small-offset-6 {
    margin-left: 50%;
  }
  .small-offset-7 {
    margin-left: 58.33333%;
  }
  .small-offset-8 {
    margin-left: 66.66667%;
  }
  .small-offset-9 {
    margin-left: 75%;
  }
  .small-offset-10 {
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .large-1,
  .large-2,
  .large-3,
  .large-4,
  .large-5,
  .large-6,
  .large-7,
  .large-8,
  .large-9,
  .large-10,
  .large-11,
  .large-12,
  .large-offset-0,
  .large-offset-1,
  .large-offset-2,
  .large-offset-3,
  .large-offset-4,
  .large-offset-5,
  .large-offset-6,
  .large-offset-7,
  .large-offset-8,
  .large-offset-9,
  .large-offset-10,
  .large-offset-11,
  .large-offset-12 {
    position: relative;
  }
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-0 {
    margin-left: 4.16665%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
}
/* Responsive
================================================== */
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  nav#main {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #f2f2f2;
  }
  nav#main .logo {
    display: block;
  }
  nav#main ul#menu {
    display: none;
    width: 100%;
    z-index: 1;
  }
  nav#main li {
    display: block;
    text-align: left;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d9d9d9;
  }
  nav#main li:hover {
    background: #a6ce38;
  }
  nav#main li:hover a {
    color: #ffffff;
  }
  nav#main svg {
    padding: 0;
    height: 40px;
    width: 147px;
  }
  nav#main #showmenu {
    display: block;
  }
  #profile .title {
    text-align: center;
  }
  h1 {
    font-size: 250%;
  }
  h2 {
    font-size: 170%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 100%;
  }
  h5 {
    font-size: 90%;
  }
  h6 {
    font-size: 80%;
  }
  p {
    font-size: 100%;
  }
footer h3 {
    margin-top:20px;
  }

}
@media screen and (max-width: 25em) {
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 120%;
  }
}
/* Form Styles
================================================== *//* Icons
================================================== */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
}
.icon-facebook,
.icon-github,
.icon-linkedin,
.icon-twitter,
.icon-google-plus,
.icon-pinterest,
.icon-list,
.icon-heart {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
  content: "\e000";
}
.icon-github:before {
  content: "\e001";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-google-plus:before {
  content: "\e002";
}
.icon-pinterest:before {
  content: "\e003";
}
.icon-list:before {
  content: "\e004";
}
.icon-heart:before {
  content: "\f004";
}
/* Social Colours
================================================== */
.fb {
  background: #;
}
.tw {
  background: #;
}
.gp {
  background: #;
}
.sk {
  background: #;
}
.pi {
  background: #;
}
.gt {
  background: #;
}
/* JS is disabled
================================================== */
.no-js nav#main {
  padding-top: 0;
  padding-bottom: 0;
}
/* Backgroudn */
.color1 {
  background: #a6ce38 !important;
}
.color1:hover {
  background: #b8d861 !important;
}
.color2 {
  background: #1abc9c !important;
}
.color3 {
  background: #00aae5 !important;
}
.red {
  background: #f43059 !important;
}
.fusia {
  background: #ec008b !important;
}
.orange {
  background: #f46801 !important;
}
.yellow {
  background: #fdb813 !important;
}
.lime {
  background: #a6ce38 !important;
}
.green {
  background: #2ecc71 !important;
}
.aqua {
  background: #1abc9c !important;
}
.blue {
  background: #00aae5 !important;
}
.navy {
  background: #0060ae !important;
}
.purple {
  background: #6f2b90 !important;
}
.white {
  background: #ffffff !important;
}
.offwhite {
  background: #f2f2f2 !important;
}
.grey {
  background: #89949b !important;
}
.black {
  background: #333333 !important;
}
