/* =============================================================================
//  Type config & scale
// ========================================================================== */

/*doc
---
title: Fonts
name: fonts
category: Core
---

Fonts are accessed through SASS placeholders. Just extend the appropriate one. Fonts are applied to type, globally, in _type.scss, and individual modules can set up their own font styles.

Please DO NOT use your own font-family attributes in any circumstance. Always use the mixins.

```
// display fonts
// -> headlines, buttons, labels, etc.

@include font-display
@include font-display(bold)

// body fonts
// -> paragraphs, captions, etc.

@include font-body
@include font-body(normal, italic)
@include font-body(bold)
```

*/

@import "libs";
@import "paths";

/* Fonts
// -------------------------------------------------------------------------- */
// -> font-face mixins use Bourbon

/* ----- Aspira ------------------------------------------------------------ */
// -> display font

@include font-face("aspira-normal", "#{$asset-path-fonts}/Aspira-Demi-webfont", $file-formats: eot ttf woff svg);
@include font-face("aspira-bold", "#{$asset-path-fonts}/Aspira-Thin-webfont", bold, $file-formats: eot ttf woff svg);

/* ----- Galaxie Copernicus ------------------------------------------------- */
// -> body/accent font

@include font-face("copernicus-normal-normal", "#{$asset-path-fonts}/Copernicus-Book", $file-formats: eot woff);
@include font-face("copernicus-normal-italic", "#{$asset-path-fonts}/Copernicus-BookItalic", normal, italic, $file-formats: eot woff);
@include font-face("copernicus-bold-normal", "#{$asset-path-fonts}/Copernicus-Semibold", bold, $file-formats: eot woff);


/* Font mixins
// -------------------------------------------------------------------------- */
// -> PUBLIC, use these to style type globally & in modules

/* ----- Display type ------------------------------------------------------- */

@mixin font-display($weight: 'normal', $style: 'normal') {
    font-family: "aspira-#{$weight}", $helvetica;
    font-weight: #{$weight};
}

/* ----- Body type ---------------------------------------------------------- */

@mixin font-body($weight: 'normal', $style: 'normal') {
    font-family: "copernicus-#{$weight}-#{$style}", $georgia;
    font-weight: $weight;
    font-style: $style;
}

/* ----- Ampersands --------------------------------------------------------- */
// -> if you'd like to "use the best ampersand"
// -> http://vault.simplebits.com/notebook/2008/08/14/ampersands-2/

@mixin font-ampersand {
  font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}

/* Utilities
// -------------------------------------------------------------------------- */
// -> PUBLIC, use these to style type globally & in modules

.font-display { @include font-display; }
    .font-display-bold { @include font-display('bold'); }

.font-body { @include font-body; }
    .font-body-bold { @include font-body('bold'); }
    .font-body-italic { @include font-body($style: 'italic'); }
