// =============================================================================
//  Global asset paths
// =============================================================================

// Asset paths
// -----------------------------------------------------------------------------
$asset-path: '/assets';
$asset-path-images: '#{$asset-path}/images';
$asset-path-icons: '#{$asset-path-images}/icons';
$asset-path-fonts: '#{$asset-path}/fonts';
