// =============================================================================
//  Type & layout scale
// =============================================================================

@import "libs";

// Config & mixins
// -----------------------------------------------------------------------------

// -> 1:1.2 scale
// -> http://www.modularscale.com/?16&&1.2&sass&text
// $font-scale: 11px 13px 16px 19px 23px 28px 33px 39px 48px 57px 69px 99px 119px;
$scale-global: 1.2 !default;
$scale-base-type: 16px;

// --- type scale & sizing -----------------------------------------------------

@function convert-to-rem($px) {
  @return ($px/16px * 1rem);
}

// global type scale
// -> we could compute this via the modular scale mixins,
// -> but doing it by hand allows us to tweak certain sizes to suit the fonts we're using
$scale-type: (
  'alpha'   : convert-to-rem(57px),
  'beta'    : convert-to-rem(39px),
  'cappa'   : convert-to-rem(28px),
  'delta'   : convert-to-rem(23px),
  'epsilon' : convert-to-rem(16px),
  'zeta'    : convert-to-rem(13px),
  'eta'     : convert-to-rem(11px),
) !default;

@function scale-type($size) {
  @return map-get($scale-type, $size);
}

// --- modular scale config ----------------------------------------------------
// -> for layout and spacing

$ms-base: 1;
$ms-ratio: $scale-global;
