// =============================================================================
//  Cover
//  -> a big splashy 'book cover' for a page of content
// =============================================================================
// sass-lint:disable no-duplicate-properties
// -> need fallback min-height props for vh units

@import '../config/spacing';
@import '../config/breakpoints';

// Block
// -----------------------------------------------------------------------------

[data-ui-cover] {
  display: block;
  min-height: 300px;
  min-height: 65vh;
  position: relative;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }

  @include media('height>60em') {
    min-height: 60vh;
  }

  // for larger, wider screens. maybe try aspect ratio queries here?
  @include media('height>60em', '>medium') {
    min-height: 70vh;
  }

  @include media('height>60em', '>large') {
    min-height: 75vh;
  }
}

// Elements
// -----------------------------------------------------------------------------

[data-ui-cover-content] {
  display: block;
  width: 100%;
}

// Traits
// -----------------------------------------------------------------------------

[data-ui-cover~='short'] {
  min-height: 300px;
  min-height: 40vh;
}

[data-ui-cover~='tall'] {

}
