// =============================================================================
//  Cover
//  -> a big splashy 'book cover' for a page of content
// =============================================================================

// Block
// -----------------------------------------------------------------------------

[data-ui-cover] {
  // sass-lint:disable no-duplicate-properties
  // -> need a fallback min-height here
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 400px;
  min-height: 85vh;
  position: relative;
}

// Elements
// -----------------------------------------------------------------------------

// [data-ui-cover-ELEMENT] {

// }

// Traits
// -----------------------------------------------------------------------------

// [data-ui-cover~='TRAIT'] {

// }
