/* ==========================================================================
// Feed component
// -> a vertically-stacked list of child elements, like blog posts
// ========================================================================== */

/*doc
---
title: Feed
name: feed
category: Organisms
---

*/

// @import "../core";

/* Base
// ---------------------------------------------------------------------------*/

.feed {}

/* Base
// ---------------------------------------------------------------------------*/

.feed-item {

}
