// =============================================================================
//  Fluid ratio
// -> provides a fluid container to maintain aspect ratio when resizing
// =============================================================================

// create a modifier with width:height ratio values
// PRIVATE
@mixin _fluid-ratio-variation($w: 16, $h: 9) {
  [data-ui-fluid-ratio*='#{$w}x#{$h}'] {
    &::before {
      padding-top: (($h / $w) * 100%);
    }
  }
}

// Block
// -----------------------------------------------------------------------------
[data-ui-fluid-ratio] {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
  }
}

// Elements
// -----------------------------------------------------------------------------
[data-fluid-ratio-item],
[data-fluid-ratio] > iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// display a background image on the item
// -> pass in the background image inline, e.g. style="background-image: url(...);"
// -> useful for swapping print/screen versions of an image, see marketing site
[data-ui-fluid-ratio-item*='bg'] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// Modifiers
// -----------------------------------------------------------------------------
@include _fluid-ratio-variation(16, 9);


