// =============================================================================
//  logo
//  -> Special styles for handling Bivee's logo on the homepage
// =============================================================================

@import '../config/breakpoints';

// Block
// -----------------------------------------------------------------------------

[data-ui-logo] {
  display: inline-block;
  width: 10em;

  @include media('>small') {
    width: 13em;
  }

  @include media('>medium') {
    width: 15em;
  }
}

// Elements
// -----------------------------------------------------------------------------

// [data-ui-logo-ELEMENT] {

// }

// Traits
// -----------------------------------------------------------------------------

// [data-ui-logo~='TRAIT'] {

// }
