// =============================================================================
//  Main Header component
// =============================================================================

@import '../config/positioning';
@import '../config/borders';
@import '../config/scale';

// Block
// -----------------------------------------------------------------------------

[data-ui-main-header] {
  $slice-width-x: 18;
  $slice-width-y: 80;
  position: relative;

  &::before {
    border-color: color('border');
    border-image: url('/assets/images/borders/border-header.svg') $slice-width-x $slice-width-y repeat;
    border-style: dotted;
    border-width: #{$slice-width-x}px #{$slice-width-y}px;
    bottom: -7px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    $w: border-width('thin');

    background-color: color('bg');
    content: '';
    display: block;
    height: scale-type('delta');
    left: 50%;
    margin-left: -($w / 2);
    position: absolute;
    top: 0;
    width: $w;
  }
}

// Traits
// -----------------------------------------------------------------------------

[data-ui-main-header~='overlay'] {
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: z('top');
}

// Elements
// -----------------------------------------------------------------------------
[data-ui-main-header-menu] {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;

  > li {
    display: inline-block;
  }
}
