// =============================================================================
//  Main Header component
// =============================================================================

@import '../config/positioning';
@import '../config/borders';
@import '../config/scale';

$_header-border-slices: (
  'narrow': 104,
  'medium': 104,
  'wide': 104
);

// Block
// -----------------------------------------------------------------------------

[data-ui-main-header] {
  $slice-width-x: 18;

  border-style: border-w('thin') dotted color('border'); // fallback border
  position: relative;


  @supports(border-image: url('/assets/images/borders/border-header-#{space-outside('default')}.svg') $slice-width-x #{map-get($_header-border-slices, space-outside('default'))} repeat) {

    &::before {
      border-color: transparent;
      border-image: url('/assets/images/borders/border-header-#{space-outside('default')}.svg') $slice-width-x #{map-get($_header-border-slices, space-outside('default'))} repeat;
      border-style: solid;
      border-width: #{$slice-width-x}px #{map-get($_header-border-slices, space-outside('default'))}px;
      bottom: -7px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @include media('>xsmall') {
    &::after {
      $w: border-width('thin');

      background-color: color('bg');
      content: '';
      display: block;
      height: scale-type('delta');
      left: 50%;
      margin-left: -($w / 2);
      position: absolute;
      top: 0;
      width: $w;
    }
  }

  // make the borders responsive to match the outside margins
  @each $screen, $width in $spacing-outside {
    @if $screen != 'default' {
      @include media('>#{$screen}') {
        &::before {
          @supports(border-image: url('/assets/images/borders/border-header-#{$width}.svg') $slice-width-x #{map-get($_header-border-slices, $width)} repeat) {
            border-image: url('/assets/images/borders/border-header-#{$width}.svg') $slice-width-x #{map-get($_header-border-slices, $width)} repeat;
          }
        }
      }
    }
  }
}

// Traits
// -----------------------------------------------------------------------------

[data-ui-main-header~='overlay'] {
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: z('top');
}

// Elements
// -----------------------------------------------------------------------------
[data-ui-main-header-menu] {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;

  > li {
    display: inline-block;
  }
}
