/* =============================================================================
//  Main Footer component
// ========================================================================== */

/*doc
---
title: Main Footer
name: main_footer
category: Molecules
---

*/

@import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.main_footer {
    display: block;
    padding: gutter() gutter('wide');

    @include yep(flexbox) {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
    }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.main_footer-item {
    @include clearfix;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .main_footer-item--left {
        float: left;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(left);
        }
    }
    .main_footer-item--right {
        float: right;

        @include yep(flexbox, no-ie) {
            float: none;
            @include align-self(right);
        }
    }

