/* =============================================================================
//  Main nav component
// ========================================================================== */

/*doc
---
title: Main Nav
name: main_nav
category: Molecules
---

*/

// @import "../core";

/* Base
// -------------------------------------------------------------------------- */

.main_nav {
    @extend .l-list-undecorated;
    @extend .l-list-inline;
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.main_nav-item {

}

