/* =============================================================================
//  Main Header component
//  -> a narrow, horizontal 'strip' appearing at the top and bottom of a page
//  -> used as a common layout foundation for the main header and footer
// ========================================================================== */

/*doc
---
title: Main Header
name: main_header
category: Molecules
---

*/

// @import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.main_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
}
