/* =============================================================================
//  Main nav component
// ========================================================================== */

/*doc
---
title: Main Nav
name: main_nav
category: Molecules
---

*/

// @import "../core";

/* Base
// -------------------------------------------------------------------------- */

.main_nav {
    @include l-list-undecorated;
    @include l-list-inline;

    > ul { margin: 0; }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

.main_nav-item {

}

