/* =============================================================================
//  Panel component
// -> a full-width, stacking section for shorter bits of content, like blurbs
//
//  Usage:
//  <section class="panel">
//      <span class="panel-slug">Panel name</span>
//      ...
//  </section>
// ========================================================================== */

@import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.panel {
    @include border('top');
    padding: gutter('extra-wide') gutter('wide');
    display: block;
}

/* Subcomponents
// -------------------------------------------------------------------------- */

// use with .heading and .t-[size]
.panel-slug {
    display: block;
    text-align: center;
    margin-top: 0;
}
