/* =============================================================================
//  Panel component
// ========================================================================== */

/*doc
---
title: Panel
name: panel
category: Organisms
---

*/

// @import "../core";

/* Base
// -------------------------------------------------------------------------- */

.panel {
    display: block;
    padding: $gutter--wide;
}
