// =============================================================================
//  Wrapper
//  -> a layout container that sets maximum width and centers content horizontally
// =============================================================================

@import '../config/layout_width';
@import '../config/spacing';

// Block
// -----------------------------------------------------------------------------

[data-ui-wrapper] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: layout-w();
}

// Traits
// -----------------------------------------------------------------------------

@each $name, $width in $layout-widths {
  [data-ui-wrapper~='#{$name}'] {
    max-width: layout-w($name);
  }
}

// a child element of a layout wrapper which is actually wider than its parent
// -> use to expand a child of a default wrapper to the width of a 'wide' wrapper
// -> great trick stolen from CSS-Tricks: https://css-tricks.com/full-width-containers-limited-width-parents/
[data-ui-wrapper~='outcrop'] {
  display: block;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: space('wide');
  padding-right: space('wide');
  position: relative;
  right: 50%;
  width: 100vw;

  @include media('>#{layout-w(wide)}') {
    left: 0;
    margin-left: ((layout-w() - layout-w('wide')) / 2);
    margin-right: ((layout-w() - layout-w('wide')) / 2);
    right: 0;
    width: auto;
  }
}
