{% include header.html %}
{% include nav.html %}
    <section id="banner" class="blue">
      <article>
        <div class="columns large-12">
          <h1>{{ page.title }}</h1>
        </div>
      </article>
    </section>
    <section id="team">
      <article>
        <div class="columns large-8 large-offset-2">
{% for post in site.categories.bio %}
          <div class="columns large-4">
            <div class="bios">
              <img class="profile" src="{{ post.image }}" />
          		<h2 class="color1">{{ post.name }}</h2>
          		<h3 class="grey">{{ post.job-title }}</h3>
            </div>
          </div>
{% endfor %}
        </div>
{% include footer.html %}
