<!doctype html>
<html lang="en">
<head>

<title> {% if page.title %} {{ page.title }} {% else %} Bivee - Systems Development {% endif %}  </title>

    <!-- // Site Info
    ====================================

	oooo:                                                                      
	oooo:                                                                      
	oooo:                                                                      
	oooo:.-::::-.    -----    .        .----.   ``..-..``         ``..-..``    
	ooooooooooooo/`  ooooo   :o.      `oooo+` ./+ooooooo+/.     ./+ooooooo+/.  
	oooo+:-..-oooo:  ooooo `/oo+`     +oooo.`/ooo+/:-:/+ooo:  `/ooo+/:--/+ooo/ 
	oooo:     /ooo/  ooooo `oooo+    /oooo- +ooo+.`````.+ooo: /ooo+.`````.+ooo:
	oooo:     /ooo/  ooooo  .oooo/  -oooo: .ooooo+++++++oooo+.ooooo+++++++ooooo
	oooo:     /ooo/  ooooo   -oooo-.oooo/  `oooo+::::::::::::`oooo+::::::::::::
	oooo:    .oooo/  ooooo    /oooooooo+    /oooo-`     `-`   :oooo:`     `-`  
	oooo+++++oooo+`  ooooo     /oooooo+`     :ooooo+//++oo+.   -ooooo+//++oo+. 
	oooooooooo+/-`   ooooo     `+ooooo`       `-/+oooooo+/-`     -/+oooooo+/-` 

    Version:    0.9

    Launch:     
    Updated:    

    Author:     Nicholas A. Kingston, Scott M. Schaffter, Arsham Skrenes
    
    Notes:		Congratulations! You are a nerd like us!
    			Maybe check out the github page?
    			
    Git:		http://www.github.com/biveeco

    ====================================
    // -->

    <!-- Primary Metadata  -->
  <meta charset="utf-8">
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>
  <meta name='viewport' content='width=device-width, target-densitydpi=160dpi, initial-scale=1'>
  <meta name="google-site-verification" content=""/>
  
  <!-- Social Metadata  -->
  <meta property="fb:admins" content=""/>
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  
  <!-- Robots & Favicons  -->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
  <meta name="robots" content="index, nofollow"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <!-- IE Fixes  -->
  <!--[if IE]><meta content="IE=8" http-equiv="X-UA-Compatible"/><![endif]-->
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif] -->
  
  <!-- CSS and Fonts  -->
  <link rel="stylesheet" media="screen" href="/assets/stylesheets/style.css">
  
</head>
<body>

  <div id="container">
  
    <div id="slider" class="sl-slider-wrapper">
				<div class="sl-slider">
        {% for post in site.posts %} 
          {% if post.type == "slider" %} 
            {{ post.content }}
          {% endif %}
        {% endfor %}
				</div><!-- /sl-slider -->
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">				
        {% for post in site.posts %} 
          {% if post.type == "slider" %} 
            {% if forloop.first %}
            <span class="nav-dot-current"></span>
            {% else %}
            <span> </span>
            {% endif %}
          {% endif %}
        {% endfor %}
				</nav>

			</div><!-- /slider-wrapper -->
   
    <section class="content">
      <article>
        <div class="columns large-9 large-offset-3">
          
          {{ content }}

        </div>
        <div id="main" class="columns large-2">
          <div class="flask desktop">
            <a href="#"><img class="svg" src="/assets/images/flask.svg" /></a>
          </div>
          <div class="mobile"><a href="#"><img class="svg white" src="/assets/images/logo.svg" /></a></div>
          <div id="showmenu"><i class="icon-facebook"></i></div>
          <ul id="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team Members</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      </article>
    </section>
    
    <!-- Makes footer stick to the bottom -->
    <div id="push"></div>
  </div>
    
  <!-- Contact Information -->
  <footer id="contact">
    <article>
      <div class="columns large-12">
        <h2>We would love to work on a project with you<br />
        Here is how you can get in touch</h2>
      </div>
      <div class="columns large-6">
        <div class="columns small-6">
          <h3>Contact</h3>
          <a href="#">+1 703/ 261-9290</a>
          <a href="#">letstalk@bivee.co</a>
        </div>
        <div class="columns small-6">
          <h3>Address</h3>
          <a href="#">A coffee shop</a>
          <a href="#">very near you</a>
        </div>
      </div>
      <div class="columns large-6">
        <div class="columns small-6">
          <h3>Follow us</h3>
          <a href="#"><i class="icon-facebook"></i>Facebook</a>
          <a href="#"><i class="icon-twitter"></i>Twitter</a>
        </div>
        <div class="columns small-6">
          <h3>Connect</h3>
          <a href="#"><i class="icon-linkedin"></i>Linkedin</a>
          <a href="#"><i class="icon-github"></i>Github</a>
        </div>
      </div>
    </article>
  </footer>
  
  <!-- Bottom Footer -->
  <footer id="bottom">
    <article>
      <div class="columns large-12">
          <span>&copy; Copyright 2013 Bivee</span>
          <span>|</span>
          <span>Made with <b class="heart">♥</b> in DC</span>
      </div>
    </article>
  </footer>
  
  <!-- jQuery -->
  <script src="/assets/javascripts/modernizr.custom.js"></script>
  <script src="/assets/javascripts/jquery.min.js"></script>
  <script src="/assets/javascripts/jquery.ba-cond.min.js"></script>
  <script src="/assets/javascripts/jquery.slider.js"></script>
  <script src="/assets/javascripts/jquery.pin.js"></script>
  <script src="/assets/javascripts/jquery.svg.js"></script>
  <script src="/assets/javascripts/bvscripts.js"></script>

</body>
</html>