---
layout: default
---
          <div id="profile">
            <div class="columns large-2">
              <img class="circle" src="{{ page.image }}" />
            </div>
            <div class="columns large-9 title">
              <h2 class="textcolor1">{{ page.name }}</h2>
              <h3 class="textgrey">{{ page.job-title }}</h3>
              <hr />
              {% if page.specialities %}<ul>{% for skill in page.specialities %}
                <li>{{ skill }}</li>{% endfor %}
              </ul>{% endif %}
            </div>
          </div>
          <div class="content">
            {{ content }}
          </div>
          <div class="columns large-4">
            <h3 class="textgrey">Recent Projects</h3>
            <div class="posts">
              <ul>
{% assign author = page.name %}
{% for post in site.categories.project %}{% if post.team contains author %}
                <li>
                  <h4><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </li>
{% endif %}{% endfor %}
                </ul>
              </div>
            </div>
            <div class="columns large-4">
              <h3 class="textgrey">Recent Blog Posts</h3>
              <div class="posts">
                <ul>
{% for post in site.categories.blog %}{% if post.author == author %}
                  <li>
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  </li>
{% endif %}{% endfor %}
                </ul>
              </div>
            </div>
            <div class="columns large-4">
            </div>