---
layout: default
---
          <div id="profile">
            <div class="bios">
              <div class="picture" data-title="{{ page.nickname }}">
          	    <img src="{{ page.image }}" />
          	  </div>
          	  <div class="details">
          		  <h2 class="textcolor1">{{ page.name }}</h2>
                <h3 class="textgrey">{{ page.job-title }}</h3>
                <ul>
{% for item in page.specialities %}
                  <li>{{ item }}</li>
{% endfor %}
                </ul>
              </div>
            </div>
            <div class="content">
              {{ page.content }}
            </div>
          </div>
