<article class="l-wrapper">
    <h1>Title</h1>
    <%= image_tag lorem.image('800x400') %>
    <aside class="reference">
        <h2>Client</h2>
    </aside>
    <aside class="reference">
        <h2>Partner (optional)</h2>
    </aside>
</article>
