<article>
  <%= component "main_header", locals: { theme: 'wash', overlay: true } %>

  <!-- Header, hero image, and title-->
	<header class="l-padding-top-extra_wide t-centered c-theme-wash">
    <div class="l-wrapper l-padding-bottom-wide">
      <span class="t-heading t-heading--slug t-scale-epsilon"><strong>Case study:</strong> Systems development</span>
      <h1 class="t-heading t-scale-alpha">PPP Knowledge Lab</h1>
    </div>
    <div class="l-wrapper l-wrapper--wide">
      <img src="http://placehold.it/1000x600?text=Cover+image">
    </div>
	</header>

  <!-- Main content -->
  <main>
    <% sections = sitemap.resources.select {|r| r.data.case_study == locals[:title] || r.data.case_study == locals[:id] }.sort_by {|r| r.data.weight }.sort_by {|r| r.data.date } %>
    <% sections.each do |section| %>
      <% component "panel" do %>
        <div class="l-wrapper">
          <h2 class="t-heading t-scale-beta t-centered"><%= section.title %></h2>
          <%= section.render %>
        </div>
      <% end %>
    <% end %>
  </main>

  <!-- Staff -->
  <% component "panel" do %>
    <div class="l-wrapper">
      <h2 class="t-heading t-scale-beta">The team</h2>

        <% [
          "Scott Schaffter",
          "Nicholas Kingston",
          "Jay Perry",
          "Helly Stoyanova"
            ].each do |person| %>

        <% find_staff = sitemap.resources.select {|r| r.path.include?("staff") if r.data.name == person } %>
        <%= component "staff_list", locals: { staff: find_staff, classes: "l-margin-top-wide" } %>

        <% end %>
    </div>
  <% end %>

</article>

<% component "panel", locals: { theme: "wash", slug: "See more of our work" } do %>
  <div class="l-wrapper l-margin-top-wide">
    <ul class="gallery">
      <li class="gallery-item">
        <span class="t-heading t-heading--sub">Case study</span>
        <p class="t-font-display">An architecture for public-private partnership knowledge</p>
        <p class="t-font-display">World Bank | PPP CCSA</p></li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">Development Data Hub</p>
      <p class="t-font-display">World Bank | Development Data Group</li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">The road to Sendai</p>
      <p class="t-font-display">Global Facility for Disaster Risk Reduction</li>
    </ul>
  </div>
<% end %>
