<article>
  <%= component "main_header", locals: { theme: 'wash', overlay: true } %>

  <!-- Header, hero image, and title-->
	<header class="l-padding-top-extra_wide t-centered c-theme-wash">
    <div class="l-wrapper l-padding-bottom-wide">
      <span class="t-heading t-heading--slug t-scale-epsilon"><strong>Case study:</strong> Systems development</span>
      <h1 class="t-heading t-scale-alpha">PPP Knowledge Lab</h1>
    </div>
    <div class="l-wrapper l-wrapper--wide">
      <img src="http://placehold.it/1000x600?text=Cover+image">
    </div>
	</header>

  <% sections = sitemap.resources.select {|r| r.data.case_study == locals[:title] || r.data.case_study == locals[:id] }.sort_by {|r| r.data.weight }.sort_by {|r| r.data.date } %>
  <% sections.each do |section| %>
    <% component "panel" do %>
      <div class="l-wrapper">
        <h2 class="t-heading t-scale-beta t-centered"><%= section.title %></h2>
        <%= section.render %>
      </div>
    <% end %>
  <% end %>



  <!-- Body -->


  <% component "panel" do %>
    <div class="l-wrapper">
      <img class="l-padding-bottom" src="http://placehold.it/600x400">
      <h2 class="t-heading t-scale-beta t-centered">PPIAF blurb</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unum est sine dolore esse, alterum cum voluptate. Aliter enim nosmet ipsos nosse non possumus. Duo Reges: constructio interrete. Eaedem res maneant alio modo. Tanta vis admonitionis inest in locis; Terram, mihi crede, ea lanx et maria deprimet. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</p>
      <p>Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Etenim semper illud extra est, quod arte comprehenditur. Qui enim existimabit posse se miserum esse beatus non erit.</p>
    </div>
  <% end %>

  <% component "panel" do %>
    <div class="l-wrapper">
      <img class="l-padding-bottom" src="http://placehold.it/600x400">
      <h2 class="t-heading t-scale-beta t-centered">Cycle Pages blurb</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unum est sine dolore esse, alterum cum voluptate. Aliter enim nosmet ipsos nosse non possumus. Duo Reges: constructio interrete. Eaedem res maneant alio modo. Tanta vis admonitionis inest in locis; Terram, mihi crede, ea lanx et maria deprimet. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</p>
      <p>Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Etenim semper illud extra est, quod arte comprehenditur. Qui enim existimabit posse se miserum esse beatus non erit.</p>
    </div>
  <% end %>

  <% component "panel" do %>
    <div class="l-wrapper">
      <ul class="gallery l-padding-bottom">
        <li class="gallery-item"><img src="http://placehold.it/200x200"></li>
        <li class="gallery-item"><img src="http://placehold.it/200x200"></li>
        <li class="gallery-item"><img src="http://placehold.it/200x200"></li>
      </ul>

      <h2 class="t-heading t-scale-beta t-centered">Results title lorem ipsum</h2>
      <p>Upon completion of the first three Knowledge Lab technologies, our team was invited to aid with the launch of the sites at PPP Days in London. The PPP Knowledge Lab was highlighted and launched at the conference during a session dedicated to Knowledge Platforms. Integration with other Knowledge Initiatives across additional organizations is ongoing.</p>
      <p>Results of PPIAF / Cycle Pages lorem ipsum and how these tied into the other components. Blurb about future plans for PPP KL / CCSA.</p>
    </div>
  <% end %>

  <% component "panel" do %>
    <div class="l-wrapper">
      <h2 class="t-heading t-scale-beta">The team</h2>

        <% [
          "Scott Schaffter",
          "Nicholas Kingston",
          "Jay Perry",
          "Helly Stoyanova"
            ].each do |person| %>

        <% find_staff = sitemap.resources.select {|r| r.path.include?("staff") if r.data.name == person } %>
        <%= component "staff_list", locals: { staff: find_staff, classes: "l-margin-top-wide" } %>

        <% end %>
    </div>
  <% end %>

</article>

<% component "panel", locals: { theme: "wash", slug: "See more of our work" } do %>
  <div class="l-wrapper l-margin-top-wide">
    <ul class="gallery">
      <li class="gallery-item">
        <span class="t-heading t-heading--sub">Case study</span>
        <p class="t-font-display">An architecture for public-private partnership knowledge</p>
        <p class="t-font-display">World Bank | PPP CCSA</p></li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">Development Data Hub</p>
      <p class="t-font-display">World Bank | Development Data Group</li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">The road to Sendai</p>     
      <p class="t-font-display">Global Facility for Disaster Risk Reduction</li>
    </ul>
  </div>
<% end %>
