---
title: Case Studies
---

<section class="l-wrapper--narrow l-margin--top l-margin--wide">
    <h1 class="title">Our work</h1>
    <p>Intro <%= lorem.sentences 6 %></p>
</section>

<div class="l-wrapper">
    <ul class="l-list-undecorated">
        <% blog("work").articles.each do |project| %>
        <li class="billboard l-margin--top" style="background-image: url('http://placehold.it/1000x400');">
            <div class="billboard-content">
                <h2 class="title"><%= link_to project.title, project %></h2>
                <p><%= lorem.sentences rand(2...4) %></p>
                <%= link_to "read the case study &rsaquo;", project %>
            </div>
        </li>
        <% end %>
    </ul>
</div>
