  	<article class = "l-wrapper l-margin-top-wide l-margin-bottom-wide">

      <!-- Header, hero image, and title-->
    	<header class = "l-margin-top-wide l-margin-bottom-wide t-centered">
            <p>Case study: Systems development</p>
    	</header>

        <div>
            <h1 class = "t-heading t-scale-alpha">PPP Knowledge Lab</h1>
            <img src="#">
        </div>

       <!-- Body -->
       <section>
         <div>
            <h2>Overview</h2>
            <p>
                The World Bank Group’s Public-Private Partnerships Cross-Cutting Solutions Area (PPP CCSA) is the clearinghouse for resources around public-private partnerships (PPPs), a collection produced by collaborative efforts of the Inter-American Development Bank (FOMIN), Asian Development Bank, African Development Bank, Islamic Development Bank, European Bank for Reconstruction and Development, PPIAF, and the PPPIRC. 
                <br>
                We partnered with the the PPP CCSA to showcase this knowledge by developing a collection of sites comprising the leading edge of PPP thought and knowledge, culminating in a central PPP Knowledge Lab.    
            </p>
         </div>

         <div>
            <img src="#">
           <h2>Strategy</h2>  
           <p>
                One of the critical initial considerations of this project was the multiplicity of organizations and contributing teams involved in the PPP knowledge-development process. To make sure everyone’s voice was heard and informed, we developed communications tools and materials to keep all teams engaged and updated on progress.  This communication network also served as a feedback loop to build stakeholder buy-in and incorporate ideas from a variety of perspectives. <br>
                From these preliminary communications, we developed a revised strategy that shifted the direction from the PPP CCSA’s original conceptual track.  This strategy better met the needs of the stakeholders and refocused the project from a strictly systems-oriented perspective toward a solution that showcased the collaboration between the different stakeholders.  <br>
                This initial revision included the implementation of three technologies:
                  <ul>
                    <li>The Central API is a repository that provides a single area for knowledge documents to be managed, curated, and delivered to third-party websites.</li>
                   <li>The Knowledge Lab is the central hub where knowledge around PPPs is surfaced and shared across institutions and with the general public. It provides context and metadata for the resources pulled from the Central API.</li>
                   <li>The Handshake Journal is a magazine publication with contributors from a variety of private- and public-sector institutions that encourages conversation around issues in PPPs. The Handshake website was developed to provide easy access and readability to audiences in developing countries with low-bandwidth situations.</li>
                </ul>
                <i>Brief intro about how PPIAF and Cycle pages came into existence and how they relate to the above elements</i>    
           </p>
         </div>

         <div>
             <img src="#">
             <h2>PPIAF blurb</h2>
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unum est sine dolore esse, alterum cum voluptate. Aliter enim nosmet ipsos nosse non possumus. Duo Reges: constructio interrete. Eaedem res maneant alio modo. Tanta vis admonitionis inest in locis; Terram, mihi crede, ea lanx et maria deprimet. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? 
                 <br>
                 Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Etenim semper illud extra est, quod arte comprehenditur. Qui enim existimabit posse se miserum esse beatus non erit.
             </p>
         </div>

         <div>
             <img src="#">
             <h2>Cycle Pages blurb</h2>
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unum est sine dolore esse, alterum cum voluptate. Aliter enim nosmet ipsos nosse non possumus. Duo Reges: constructio interrete. Eaedem res maneant alio modo. Tanta vis admonitionis inest in locis; Terram, mihi crede, ea lanx et maria deprimet. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? 
                 <br>
                 Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Etenim semper illud extra est, quod arte comprehenditur. Qui enim existimabit posse se miserum esse beatus non erit.
             </p>
         </div>

         <div>
             <ul>
                <li><img src="#"></li>
                <li><img src="#"></li>
                <li><img src="#"></li>
            </ul>
             <h2>Results title lorem ipsum</h2>
             <p>
                 Upon completion of the first three Knowledge Lab technologies, our team was invited to aid with the launch of the sites at PPP Days in London. The PPP Knowledge Lab was highlighted and launched at the conference during a session dedicated to Knowledge Platforms. Integration with other Knowledge Initiatives across additional organizations is ongoing. 
                 <br>
                 Results of PPIAF / Cycle Pages lorem ipsum and how these tied into the other components. Blurb about future plans for PPP KL / CCSA.
             </p>
         </div>

         <div>
             <h2 class="t-heading t-scale-beta">The team</h2>

              <% [
                  "Scott Schaffter", 
                  "Nicholas Kingston", 
                  "Jay Perry", 
                  "Helly Stoyanova"
              ].each do |person| %>

                  <% find_staff = sitemap.resources.select {|r| r.path.include?("staff") if r.data.name == person } %>
                  <%= component "staff_list", locals: { staff: find_staff, classes: "l-margin-top-wide" } %>

              <% end %>
         </div>
       </section>
	  </article> 

      <!-- See more and footer -->  
      <aside>
        <h2>See more of our work</h2>
        <ul>
            <li>Case study<br>An architecture for public-private partnership knowledge<br>World Bank | PPP CCSA</li>
            <li>Case study<br>Development Data Hub<br>World Bank | Development Data Group</li>
            <li>Case study<br>The road to Senda<br>Global Facility for Disaster Risk Reduction</li>
        </ul>
      </aside>