---
title: home
---

<!-- Cover -->
<section class="panel--cover panel--centered border--bottom">
    <div class="panel-content l-wrapper--narrow">
        <h1 class="t-alpha">We change the way people and organizations work.</h1>
        <p class="t-cappa">We’re an advisory and design firm who can help you build processes, technology, and partnerships to meet your goals.</p>
    </div>
</section>

<!-- Approach blurb -->
<% component "panel", locals: { theme: "reverse" } do %>
    <% component "blurb", locals: { heading: "Our approach" } do %>
        <%= lorem.sentences rand(6...8) %>
    <% end %>
<% end %>
