---
title: home
---

<div class="l-wrapper">
    <%= image_tag lorem.image('600x400') %>
  <h1>Bivee's awesome new website</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
