---
title: home
---

<!-- Cover -->
<% component "cover" do %>
        <h1 class="t-alpha">We change the way people and organizations work.</h1>
        <p class="t-cappa">We’re an advisory and design firm who can help you build processes, technology, and partnerships to meet your goals.</p>
<% end %>

<!-- Approach -->
<% component "panel", locals: { theme: "reverse" } do %>
    <% component "blurb", locals: { heading: "Our approach" } do %>
        <%= lorem.sentences rand(6...8) %>
    <% end %>
<% end %>

<!-- Staff -->
<% component "panel" do %>
    <% component "blurb", locals: { heading: "Our team" } do %>
        <% lorem.sentences rand(4...6) %>
    <% end %>
    <!-- list of staff photos -->
<% end %>

<% component "panel", locals: { theme: "wash" } do %>
    <% component "blurb", locals: { heading: "Contact us" } do %>
        <% lorem.sentences rand(4...6) %>
    <% end %>
    <!-- contact buttons -->
<% end %>
