<%= component "main_header" %>

<main>
  <h1 class="padding-top-wide padding-bottom-xwide padding-x-outside t-align-center">Our people</h1>

  <% data.people.groups.each_with_index do |group, index| %>
    <%
      # don't show people with draft status (published: false)
      # if we're doing a production build
      def hide_draft_profiles(list)
        if ENV['CONTEXT'] == 'production'
          return find_people(group: list).select do |p|
            p.data.published != false
          end
        end
        find_people(group: list)
      end
    %>
    <% if hide_draft_profiles(group.folder).length > 0 %>
      <% component "panel", locals: {
        theme: 'light',
        painted: index == 0 ? true : false,
        bg: index == 0 ? 'transparent' : 'inherit',
        classes: index == 0 ? '' : 'z-middle'
      } do %>
        <h2 class="t-align-center padding-bottom-wide"><%= group.name %></h2>
        <% component "wrapper", locals: { width: "wide" } do %>
          <% if group.folder == 'partners' %>
            <%= component "partners_list", locals: { group: hide_draft_profiles(group.folder) } %>
          <% else %>
            <%= component "people_list", locals: { group: hide_draft_profiles(group.folder) } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</main>
