<%= component "main_header" %>

<% component "panel", locals: {
  padding: {
    top: "wide",
    bottom: "xwide",
    x: "outside"
  },
  el: "main",
  border: "none"
} do %>
  <h1 class="padding-bottom-wide t-align-center">Our work</h1>
  <% component "wrapper", locals: { width: "wide" } do %>
    <%= component "projects_list", locals: { projects: data.work.projects } %>
  <% end %>
<% end %>

<% component "panel", locals: {
  el: "aside",
  theme: "light",
  painted: true
} do %>
  <h2 class="t-align-center padding-bottom"><%= data.work.pro_bono.title %></h2>
  <% component "wrapper", locals: { classes: "t-content" } do %>
    <%= render_markdown(data.work.pro_bono.body) %>
  <% end %>
<% end %>
